Repository ErKeLost/create-vite-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix, prettier --write

🎨 fix(log): update en
  packages/vite-cli/src/core/command/create/createProject/install.ts
Due: prettier --write ., eslint --fix

✨ feat(v0.18.6): update version v0.18.6
  packages/vite-cli/package.json
Due: none

🎨 fix(template): update useage time style
  packages/vite-cli/src/core/command/create/createProject/install.ts
Due: prettier --write ., eslint --fix

🎨 fix(template): fix template build error
  packages/vite-cli/src/core/command/create/createProject/install.ts
  packages/vite-cli/src/core/questions/vue/index.ts
  packages/vite-cli/src/shared/options.ts
  packages/vite-cli/src/shared/vueEjsMapConstant.ts
  packages/vite-cli/template/vue/build/vite/plugin.ejs
Due: prettier --write ., eslint --fix

✨ feat(v0.18.7): update v0.18.7
  packages/vite-cli/package.json
Due: none

chore(cli): code style
  .husky/commit-msg
  packages/vite-cli/src/shared/options.ts
  packages/vite-cli/src/utils/createTemplate.ts
Due: prettier --write ., eslint --fix

🌈 style(code): file rebuild
  packages/vite-cli/src/core/command/create/createProject/copyTemplate.ts
  packages/vite-cli/src/utils/compilerTemplate.ts
  packages/vite-cli/src/utils/ejsRender.ts
Due: prettier --write ., eslint --fix

🎨 fix(ant-desing): ant-design colorpicker error
  packages/vite-cli/theme/ant-design/layout/components/theme-setting/drawer-content/global-theme/index.vue
Due: none

⚡️ pref(useTheme): update useTheme with components theming
  packages/vite-cli/src/core/command/create/createProject/copyTemplate.ts
  packages/vite-cli/src/core/questions/vue/theme.ts
  packages/vite-cli/src/shared/options.ts
  packages/vite-cli/src/shared/vueEjsMapConstant.ts
Due: prettier --write ., eslint --fix

✨ feat(yaml): update version v0.18.8
  packages/vite-cli/package.json
Due: none

✨ feat(github): bot
  .github/ISSUE_TEMPLATE/1-bug-report.md
  .github/ISSUE_TEMPLATE/2-feature-request.md
  .github/ISSUE_TEMPLATE/3-style.md
  .github/ISSUE_TEMPLATE/4-docs.md
  .github/dependabot.yml
  .github/workflows/ci.yaml
  .github/workflows/issues-inactive.yaml
Due: prettier --write

🌈 style(build): 展示效果优化
  .husky/commit-msg
  packages/vite-cli/src/core/command/create/createProject/install.ts
Due: prettier --write ., eslint --fix

♻️ refactor(config): config ejs map files
  packages/vite-cli/src/compile/features.ts
  packages/vite-cli/src/compile/vueComponents.ts
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/core/command/create/createProject/initialLog.ts
  packages/vite-cli/src/core/questions/vue/components.ts
  packages/vite-cli/src/shared/vueEjsMapConstant.ts
  packages/vite-cli/tsconfig.json
Due: prettier --write ., eslint --fix

✨ feat(gradient): update ora gradient color
  packages/vite-cli/src/utils/gradient.ts
Due: prettier --write ., eslint --fix

♻️ refactor(complie): fix complie way to render ejs
  packages/vite-cli/package.json
  packages/vite-cli/src/compile/plugins.ts
  packages/vite-cli/src/shared/vueEjsMapConstant.ts
Due: prettier --write ., eslint --fix

♻️ refactor(ejs complier): ♻️ refactor(complie): fix complie way to render ejs
  packages/vite-cli/src/compile/features.ts
  packages/vite-cli/src/core/questions/creator/index.ts
  packages/vite-cli/src/core/questions/vue/index.ts
  packages/vite-cli/src/shared/vueEjsMapConstant.ts
Due: prettier --write ., eslint --fix

✅ test(node): test node16 esbuild build not work
  packages/vite-cli/package.json
  packages/vite-cli/tsconfig.json
  pnpm-lock.yaml
  scripts/build.mjs
Due: none

🎨 fix(grammmer): fix error grammer
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/shared/vueEjsMapConstant.ts
  packages/vite-cli/src/utils/question.ts
Due: prettier --write ., eslint --fix

✨ feat(render way): 🎨 fix(grammmer): fix error grammer
  packages/vite-cli/src/compile/features.ts
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/shared/vueEjsMapConstant.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

🎨 fix(solve render variable error): ✨ feat(render way): 🎨 fix(grammmer): fix error grammer
  packages/vite-cli/src/core/command/create/createProject/copyTemplate.ts
  packages/vite-cli/src/core/questions/vue/plugins.ts
  packages/vite-cli/src/shared/vueEjsMapConstant.ts
  packages/vite-cli/template/vue/build/vite/plugin.ejs
  packages/vite-cli/template/vue/package.ejs
  packages/vite-cli/template/vue/src/App.ejs
  packages/vite-cli/template/vue/src/components/HelloWorld.ejs
  packages/vite-cli/template/vue/src/components/Welcome.ejs
  packages/vite-cli/template/vue/src/main.ejs
  packages/vite-cli/template/vue/src/store/modules/counter.ejs
Due: prettier --write ., eslint --fix

🎨 fix(plugins): fix vite-plugin-inspect version
  packages/vite-cli/src/compile/plugins.ts
Due: prettier --write ., eslint --fix

✨ feat(v0.18.9): refactor ejs render
  packages/vite-cli/package.json
  packages/vite-cli/src/core/questions/vue/index.ts
  packages/vite-cli/src/shared/vueEjsMapConstant.ts
  packages/vite-cli/template/vue/src/assets/antDesignVue.svg
  packages/vite-cli/template/vue/src/assets/elementPlus.svg
  packages/vite-cli/template/vue/src/assets/naiveUI.svg
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

📝 docs(yaml): ✨ feat(v0.18.9): refactor ejs render
  pnpm-lock.yaml
Due: none

🎨 fix(plugins): fix vuecomponents
  packages/vite-cli/template/vue/build/vite/plugin.ejs
Due: none

✨ feat(v0.19.0): update v0.19.0
  packages/vite-cli/package.json
Due: none

Update README.md
  README.md
Due: prettier --write

📝 docs(custom): test
  README.md
  docs/.vitepress/theme/components/wujie-content.vue
  docs/.vitepress/theme/components/wujie-home.vue
  docs/.vitepress/theme/styles/vars.css
  docs/wujie/components/wujie-connect.vue
  docs/wujie/components/wujie-online.vue
  pnpm-lock.yaml
Due: prettier --write

📝 docs(custom): test
  docs/.vitepress/.temp/guide_communication.md.js
  docs/.vitepress/config.ts
  package.json
Due: prettier --write ., eslint --fix

📝 docs(custom): docs
  package.json
Due: none

Path conditions:
  prettier --write .: any of: *.{js,jsx,ts,tsx}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.md
