Repository ErKeLost/create-vite-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix, prettier --write

📝 docs(rebuild index): docs update
  packages/docs/index.md
Due: prettier --write

🎨 fix(plugins): 修复 plugins 分隔符 bug
  packages/vite-cli/src/core/questions/creator/feature.ts
  packages/vite-cli/template/.eslintrc.js
  packages/vite-cli/template/build/vite/plugin.ejs
  packages/vite-cli/template/package.ejs
Due: prettier --write ., eslint --fix

✨ feat(eslint): test
  .eslintignore
  .eslintrc.js
  packages/vite-cli/package.json
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/shared/options.ts
  packages/vite-cli/template/.editorconfig
  packages/vite-cli/template/.eslintrc.ejs
  packages/vite-cli/template/.eslintrc.js
  packages/vite-cli/template/.prettierrc.js
  packages/vite-cli/template/package.ejs
Due: prettier --write ., eslint --fix

✨ feat(eslint): 新增 eslint prettier
  packages/vite-cli/src/shared/templateFile.ts
  packages/vite-cli/template/.eslintrc.ejs
Due: prettier --write ., eslint --fix

✨ feat(readme): ✨ feat(eslint): 新增 eslint prettier
  README.md
  packages/vite-cli/package.json
Due: prettier --write

📝 docs(readme): add npm readme
  packages/vite-cli/readme.md
Due: prettier --write

🎨 fix(eslint): update prettier eslint
  packages/vite-cli/template/.eslintrc.ejs
  packages/vite-cli/template/.vscode/extensions.json
  packages/vite-cli/template/package.ejs
Due: none

♻️ refactor(prompts): 重构 交互 用户交互样式
  packages/vite-cli/src/core/questions/creator/components.ts
  packages/vite-cli/src/core/questions/creator/index.ts
  packages/vite-cli/src/core/questions/creator/packageDevice.ts
  packages/vite-cli/src/core/questions/creator/plugins.ts
  packages/vite-cli/src/core/questions/creator/precss.ts
Due: prettier --write ., eslint --fix

✨ feat(eslint prettier): 新增 prettier eslint 配置 重构 prompt 用户交互问题
  packages/vite-cli/package.json
  packages/vite-cli/src/core/questions/creator/plugins.ts
  packages/vite-cli/template/package.ejs
Due: prettier --write ., eslint --fix

🌈 style(prompt): 交互格式
  packages/vite-cli/src/core/questions/creator/index.ts
  packages/vite-cli/src/core/questions/creator/plugins.ts
Due: prettier --write ., eslint --fix

🎨 fix(vite version): v3.0 run error with node
  packages/vite-cli/template/tsconfig.node.json
  packages/vite-cli/template/vite.config.ejs
Due: none

✨ feat(compoennts): add varlet devui library
  packages/vite-cli/src/core/questions/creator/components.ts
Due: prettier --write ., eslint --fix

✨ feat(vite3): update verison with vite3
  packages/vite-cli/template/package.ejs
Due: none

📝 docs(readme update): ✨ feat(vite3): update verison with vite3
  README.md
  packages/vite-cli/package.json
Due: prettier --write

📝 docs(npm): 📝 docs(readme update): ✨ feat(vite3): update verison with vite3
  packages/vite-cli/readme.md
Due: prettier --write

🎨 fix(bug pro): 生产bug
  packages/vite-cli/package.json
  packages/vite-cli/src/utils/createTemplate.ts
Due: prettier --write ., eslint --fix

✨ feat(pro): test pro
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/core/questions/creator/index.ts
  packages/vite-cli/src/utils/createTemplate.ts
  packages/vite-cli/template/package.ejs
Due: prettier --write ., eslint --fix

🎨 fix(pro): 修复生产环境 prettier 编译parse
  packages/vite-cli/package.json
  packages/vite-cli/src/utils/createTemplate.ts
  packages/vite-cli/template/package.ejs
Due: prettier --write ., eslint --fix

📝 docs(add is true readme): 🎨 fix(bug pro): 生产bug
  README.md
Due: prettier --write

📝 docs(readme): update readme
  packages/vite-cli/package.json
Due: none

📝 docs(update): readme
  README.md
  packages/vite-cli/package.json
  packages/vite-cli/readme.md
Due: prettier --write

🎨 fix(err): vue 编译 bug
  packages/vite-cli/package-lock.json
  packages/vite-cli/package.json
  packages/vite-cli/src/core/questions/creator/device.ts
  packages/vite-cli/src/core/questions/creator/index.ts
  packages/vite-cli/src/utils/createTemplate.ts
  packages/vite-cli/template/.eslintrc.ejs
  packages/vite-cli/template/src/components/HelloWorld.ejs
Due: prettier --write ., eslint --fix

✨ feat(cli): update version with cli
  packages/vite-cli/package.json
Due: none

✨ feat(type module): vite 移除 type module
  packages/vite-cli/template/package.ejs
Due: none

✨ feat(plugin): 新增 vite-plugin-html 插件
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/core/questions/creator/plugins.ts
  packages/vite-cli/src/shared/templateFile.ts
  packages/vite-cli/template/.env
  packages/vite-cli/template/build/vite/html.ts
  packages/vite-cli/template/index.ejs
  packages/vite-cli/template/package.ejs
Due: prettier --write ., eslint --fix

📝 docs(readme): update 更新图标
  README.md
  packages/vite-cli/readme.md
Due: prettier --write

📝 docs(docs): update readme
  README.md
  packages/vite-cli/package.json
  packages/vite-cli/src/core/questions/creator/components.ts
Due: prettier --write ., eslint --fix, prettier --write

📝 docs(add docs): merge branch 'dev' of https://github.com/ErKeLost/vite-cli into dev
  packages/docs/guide/index.md
  packages/vite-cli/readme.md
Due: prettier --write

✨ feat(arco): 新增arco 组件库
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/core/command/create/index.ts
  packages/vite-cli/src/core/questions/creator/components.ts
  packages/vite-cli/template/build/vite/plugin.ejs
  packages/vite-cli/template/package.ejs
  packages/vite-cli/template/src/assets/arco.svg
  packages/vite-cli/template/src/assets/tdesign.svg
  packages/vite-cli/template/src/components/Welcome.ejs
  packages/vite-cli/template/src/main.ejs
Due: prettier --write ., eslint --fix

✨ feat(arco): new components arco docs
  packages/vite-cli/template/src/components/HelloWorld.ejs
Due: none

✨ feat(component): ✨ feat(arco): new components arco docs
  packages/vite-cli/template/build/vite/plugin.ejs
  packages/vite-cli/template/src/assets/devui.svg
  packages/vite-cli/template/src/components/HelloWorld.ejs
  packages/vite-cli/template/src/components/Welcome.ejs
  packages/vite-cli/template/src/main.ejs
Due: none

✨ feat(components): 新增 7
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/core/questions/creator/components.ts
  packages/vite-cli/template/build/vite/plugin.ejs
  packages/vite-cli/template/package.ejs
  packages/vite-cli/template/src/assets/tencent.svg
  packages/vite-cli/template/src/assets/vuetify.svg
  packages/vite-cli/template/src/components/HelloWorld.ejs
  packages/vite-cli/template/src/components/Welcome.ejs
  packages/vite-cli/template/src/main.ejs
Due: prettier --write ., eslint --fix

📝 docs(docs): add docs
  README.md
  packages/docs/guide/index.md
  packages/vite-cli/package-lock.json
  packages/vite-cli/package.json
  packages/vite-cli/readme.md
Due: prettier --write

✨ feat(devui): 修复devui rc13 error
  packages/vite-cli/template/package.ejs
Due: none

✨ feat(version): 0.15.0-alpha 修复 devui
  packages/vite-cli/package.json
Due: none

✨ feat(varlet): add varlet ui
  README.md
  packages/vite-cli/template/build/vite/plugin.ejs
  packages/vite-cli/template/package.ejs
  packages/vite-cli/template/src/assets/varlet.svg
  packages/vite-cli/template/src/components/HelloWorld.ejs
  packages/vite-cli/template/src/components/Welcome.ejs
  packages/vite-cli/template/src/main.ejs
Due: prettier --write

✨ feat(devui): resolve devui error
  README.md
  packages/vite-cli/template/src/main.ejs
Due: prettier --write

♻️ refactor: 核心 编译 逻辑 重构 ing
  README.md
Due: prettier --write

✨ feat(编译 map 重构): 编译 map 拿到res 去 映射 每一个 库的 版本 重构
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/core/questions/creator/index.ts
Due: prettier --write ., eslint --fix

📝 docs(docs): update varlet
  packages/docs/guide/index.md
  packages/docs/readme.md
  packages/vite-cli/readme.md
Due: prettier --write

Path conditions:
  prettier --write .: any of: *.{js,jsx,ts,tsx}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.md
