Repository ErKeLost/create-vite-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,vue}": ["prettier --write .", "eslint  --fix", "git add"],
  "*.md": ["prettier --write"]
}

chore: remove doc
  docs/blog/announcing-vite2.md
  docs/config/build-options.md
  docs/config/dep-optimization-options.md
  docs/config/index.md
  docs/config/preview-options.md
  docs/config/server-options.md
  docs/config/shared-options.md
  docs/config/ssr-options.md
  docs/config/worker-options.md
  docs/guide/api-hmr.md
  docs/guide/api-javascript.md
  docs/guide/api-plugin.md
  docs/guide/assets.md
  docs/guide/backend-integration.md
  docs/guide/build.md
  docs/guide/comparisons.md
  docs/guide/dep-pre-bundling.md
  docs/guide/env-and-mode.md
  docs/guide/features.md
  docs/guide/migration.md
  docs/guide/ssr.md
  docs/guide/static-deploy.md
  docs/guide/using-plugins.md
  docs/guide/why.md
  docs/images/bundler.png
  docs/images/esm.png
  docs/images/graph.png
  docs/images/vercel-configuration.png
  docs/images/vite-plugin-inspect.png
  docs/plugins/index.md
Due: prettier --write

chore: docs
  README.md
  docs/.vitepress/cache/deps/_metadata.json
  docs/.vitepress/cache/deps/package.json
  docs/.vitepress/cache/deps/vue.js
  docs/.vitepress/cache/deps/vue.js.map
  docs/.vitepress/config.ts
  docs/guide/index.md
  docs/package.json
  docs/readme.md
  pnpm-lock.yaml
  vite-cli/package.json
  vite-cli/readme.md
  vite-cli/src/dependence/vue/plugins.ts
Due: prettier --write ., eslint --fix, prettier --write

feat: add debug
  pnpm-lock.yaml
  vite-cli/package.json
Due: none

chore: update vueuse version
  vite-cli/src/dependence/vue/features.ts
Due: prettier --write ., eslint --fix

chore: import word
  vite-cli/template/vue/src/store/index.ts
  vite-cli/theme/antDesignVue/store/index.ts
  vite-cli/theme/elementPlus/store/index.ts
  vite-cli/theme/naiveUI/store/index.ts
Due: prettier --write ., eslint --fix

chore: release v0.23.15
  vite-cli/package.json
Due: none

chore: release v0.23.16
  vite-cli/package.json
Due: none

chore: ci
  .github/ISSUE_TEMPLATE/1-bug-report.md
  .github/ISSUE_TEMPLATE/2-feature-request.md
  .github/ISSUE_TEMPLATE/3-style.md
  .github/ISSUE_TEMPLATE/4-docs.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: prettier --write

chore: ci
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

chore: testing with 1.0
  vite-cli/src/compile/common/frameQuestions.ts
  vite-cli/src/utils/question.ts
  vite-cli/template/vue/package.ejs
  vite-cli/template/vue/src/plugins/customComponents.ejs
  vite-cli/template/vue/src/plugins/directives.ts
  vite-cli/template/vue/src/plugins/globalMethods.ts
  vite-cli/template/vue/src/utils/common/index.ts
Due: prettier --write ., eslint --fix

fix: vuetify success
  vite-cli/template/vue/src/main.ejs
  vite-cli/template/vue/src/plugins/vuetify.ts
Due: prettier --write ., eslint --fix

fix: theme error
  vite-cli/src/core/questions/vue/plugins.ts
  vite-cli/src/dependence/vue/plugins.ts
  vite-cli/template/vue/package.ejs
  vite-cli/template/vue/src/utils/common/color.ts
  vite-cli/template/vue/src/utils/common/index.ts
Due: prettier --write ., eslint --fix

chore: fix varlet style error
  vite-cli/template/vue/src/main.ejs
Due: none

chore: release v0.23.17
  vite-cli/package.json
Due: none

Update README.md
  README.md
Due: prettier --write

feat: add tiny-vue
  .vscode/settings.json
  vite-cli/src/core/questions/creator/index.ts
  vite-cli/src/core/questions/vue/components.ts
  vite-cli/src/dependence/vue/components.ts
  vite-cli/src/dependence/vue/features.ts
  vite-cli/template/vue/package.ejs
  vite-cli/template/vue/src/assets/tinyVue.svg
  vite-cli/template/vue/src/components/HelloWorld.ejs
  vite-cli/template/vue/src/components/Welcome.ejs
  vite-cli/template/vue/src/main.ejs
  vite-cli/template/vue/vite.config.ejs
Due: prettier --write ., eslint --fix

chore: release v0.23.18
  vite-cli/package.json
Due: none

feat: add tiny-vue
  vite-cli/template/vue/netlify.toml
  vite-cli/template/vue/src/components/Welcome.ejs
Due: none

chore: release v0.23.19
  vite-cli/package.json
Due: none

feat: add tiny-vue
  scripts/post.mjs
  vite-cli/src/core/questions/creator/index.ts
Due: prettier --write ., eslint --fix

feat: add tiny-vue
  vite-cli/template/vue/src/components/Welcome.ejs
Due: none

chore: release v0.23.20
  vite-cli/package.json
Due: none

chore: Migrate to farm
  package.json
  pnpm-lock.yaml
  vite-cli/farm.config.mjs
  vite-cli/package.json
  vite-cli/src/compile/common/frameQuestions.ts
  vite-cli/src/compile/vue/templateFile.ts
  vite-cli/src/compile/vue/vueEjsMapConstant.ts
  vite-cli/src/core/command/create/createProject/copyTemplate.ts
  vite-cli/src/core/command/create/createProject/initialLog.ts
  vite-cli/src/core/command/create/createProject/install.ts
  vite-cli/src/core/command/create/index.ts
  vite-cli/src/core/questions/creator/index.ts
  vite-cli/src/core/questions/creator/packageManager.ts
  vite-cli/src/core/questions/creator/projectName.ts
  vite-cli/src/core/questions/react/index.ts
  vite-cli/src/core/questions/vue/index.ts
  vite-cli/src/core/questions/vue/theme.ts
  vite-cli/src/utils/question.ts
Due: prettier --write ., eslint --fix

chore: use farm bundle
  package.json
  pnpm-lock.yaml
  vite-cli/farm.config.mjs
  vite-cli/package.json
  vite-cli/src/index.ts
  vite-cli/tsup.config.ts
Due: prettier --write ., eslint --fix

chore: release v0.23.21
  vite-cli/package.json
Due: none

chore: release v0.23.22
  vite-cli/package.json
Due: none

chore: use farm bundle
  vite-cli/bundle/index.js
  vite-cli/farm.config.ts
  vite-cli/tsup.config.ts
Due: prettier --write ., eslint --fix

chore: update config
  vite-cli/farm.config.ts
  vite-cli/tsup.config.ts
Due: prettier --write ., eslint --fix

chore: Migrate to farm
  scripts/build.mjs
  vite-cli/scripts/dev.mjs
  vite-cli/tsup.config.ts
Due: prettier --write ., eslint --fix
