Repository ErKeLost/create-vite-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write .", "eslint  --fix", "git add"],
  "*.md": ["prettier --write"]
}

📝 docs(custom): docs
  docs/guide/index.md
Due: prettier --write

📝 docs(custom): docs
  pnpm-lock.yaml
Due: none

Update README.md
  README.md
Due: prettier --write

📝 docs(custom): 修改文档link，升级vitepress版本
  README.md
  docs/.vitepress/config.ts
  docs/.vitepress/theme/index.ts
  docs/guide/index.md
  docs/index.md
  docs/package.json
  docs/readme.md
  packages/vite-cli/readme.md
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix, prettier --write

🎨 fix(custom): update unocss version,fix web fonts
  packages/vite-cli/src/compile/plugins.ts
  packages/vite-cli/template/vue/unocss.config.ts
Due: prettier --write ., eslint --fix

🎨 fix(custom): update unocss version,fix web fonts (#5)
  packages/vite-cli/src/compile/plugins.ts
  packages/vite-cli/template/vue/unocss.config.ts
Due: prettier --write ., eslint --fix

chore(loading): remove request loading
  .husky/commit-msg
  .husky/pre-commit
  packages/vite-cli/template/vue/src/services/request/index.ts
Due: prettier --write ., eslint --fix

chore(vscode): remove
  .vscode/settings.json
Due: none

chore(pref): 优化逻辑
  README.md
  package.json
  packages/vite-cli/package.json
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/core/command/create/index.ts
  pnpm-lock.yaml
  turbo.json
Due: prettier --write ., eslint --fix, prettier --write

chore(docs): update
  README.md
  packages/vite-cli/package.json
  packages/vite-cli/src/core/command/create/createProject/copyTemplate.ts
Due: prettier --write ., eslint --fix, prettier --write

chore: release v0.19.1
  packages/vite-cli/package.json
Due: none

chore(unless): package
  package.json
  packages/vite-cli/src/core/command/create/createProject/copyTemplate.ts
Due: prettier --write ., eslint --fix

chore: release v0.19.2
  packages/vite-cli/package.json
Due: none

chore(bumpp): publish
  docs/package.json
Due: none

chore(gradient): update 渐变loading
  packages/vite-cli/package.json
  packages/vite-cli/src/core/command/create/createProject/copyTemplate.ts
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/core/command/create/createProject/install.ts
  packages/vite-cli/src/core/command/version/index.ts
  packages/vite-cli/src/utils/gradient.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

chore: release v0.19.3
  packages/vite-cli/package.json
Due: none

chore(gradient): update 渐变loading
  packages/vite-cli/src/utils/gradient.ts
Due: prettier --write ., eslint --fix

chore: release v0.19.4
  packages/vite-cli/package.json
Due: none

chore: release v0.19.5-beta.0
  packages/vite-cli/package.json
Due: none

chore(unless): remove code
  .changeset/README.md
  .changeset/config.json
  package.json
  packages/vite-cli/package.json
  packages/vite-cli/src/core/command/create/createProject/copyTemplate.ts
  packages/vite-cli/src/core/command/create/createProject/initialLog.ts
  packages/vite-cli/src/core/command/create/createProject/install.ts
  packages/vite-cli/src/core/command/version/index.ts
  packages/vite-cli/src/utils/clearConsole.ts
  packages/vite-cli/src/utils/gradient.ts
  packages/vite-cli/src/utils/index.ts
  packages/vite-cli/src/utils/log.ts
  packages/vite-cli/src/utils/spinner.ts
  packages/vite-cli/src/utils/terminal.ts
Due: prettier --write ., eslint --fix, prettier --write

chore: release v0.19.6-beta.0
  packages/vite-cli/package.json
Due: none

chore(unless): remove code
  packages/vite-cli/src/core/questions/creator/frame.ts
  packages/vite-cli/src/core/questions/packages.ts
  packages/vite-cli/src/core/questions/vue/plugins.ts
Due: prettier --write ., eslint --fix

chore: release v0.19.6
  packages/vite-cli/package.json
Due: none

chore: release v0.19.7
  packages/vite-cli/package.json
Due: none

chore(unless): remove code
  README.md
Due: prettier --write

chore(dev): 开发模式
  package.json
  packages/vite-cli/package.json
  packages/vite-cli/tsup.config.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

chore(hook): TODO: tsup hook
  packages/vite-cli/tsup.config.ts
Due: prettier --write ., eslint --fix

chore(jzzx): remove jzzx-value
  packages/vite-cli/src/core/command/version/index.ts
Due: prettier --write ., eslint --fix

chore(hook): TODO: tsup hook 开发环境 调试问题
  packages/vite-cli/tsup.config.ts
Due: prettier --write ., eslint --fix

chore(hook): TODO: tsup hook 开发环境 调试问题
  packages/vite-cli/package.json
  pnpm-lock.yaml
Due: none

chore(valet): add pc varlet template
  packages/vite-cli/package.json
  packages/vite-cli/src/compile/plugins.ts
  packages/vite-cli/src/compile/vueComponents.ts
  packages/vite-cli/src/core/command/create/createProject/install.ts
  packages/vite-cli/src/core/questions/vue/components.ts
  packages/vite-cli/src/core/questions/vue/index.ts
  packages/vite-cli/src/shared/options.ts
  packages/vite-cli/template/vue/build/vite/plugin.ejs
  packages/vite-cli/template/vue/package.ejs
Due: prettier --write ., eslint --fix

bug(varlet): add varlet touch-emulator
  packages/vite-cli/src/core/questions/vue/components.ts
  packages/vite-cli/template/vue/src/plugins/assets.ejs
Due: prettier --write ., eslint --fix

chore(cmd): 防止冲突 修改 vite 为 create-vite ｜｜ v
  packages/vite-cli/package.json
Due: none

chore: setting
  .vscode/settings.json
Due: none
