Repository ErKeLost/create-vite-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write .", "eslint  --fix", "git add"],
  "*.md": ["prettier --write"]
}

✨ feat(refactor): map 映射 测试成功
  packages/vite-cli/src/core/questions/creator/ejsMapConstant.ts
  packages/vite-cli/src/core/questions/creator/index.ts
Due: prettier --write ., eslint --fix

📝 docs(readme): ✨ feat(refactor): map 映射 测试成功
  README.md
Due: prettier --write

✨ feat(md): update md
  README.md
Due: prettier --write

📝 docs(map log): ✨ feat(md): update md
  README.md
Due: prettier --write

♻️ refactor(package json): ejs 编译 map 测试
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/core/questions/creator/ejsMapConstant.ts
  packages/vite-cli/src/core/questions/creator/index.ts
  packages/vite-cli/src/shared/options.ts
  packages/vite-cli/template/package.ejs
Due: prettier --write ., eslint --fix

♻️ refactor(package): 版本 文件重构 完成
  packages/vite-cli/src/core/questions/creator/ejsMapConstant.ts
  packages/vite-cli/src/core/questions/creator/feature.ts
  packages/vite-cli/src/core/questions/creator/index.ts
  packages/vite-cli/src/shared/options.ts
  packages/vite-cli/template/package.ejs
  packages/vite-cli/template/src/App.ejs
  packages/vite-cli/template/src/components/Welcome.ejs
  packages/vite-cli/template/src/main.ejs
Due: prettier --write ., eslint --fix

🎨 fix(deps): update version deps
  packages/vite-cli/src/core/questions/creator/ejsMapConstant.ts
  packages/vite-cli/template/package.ejs
Due: prettier --write ., eslint --fix

♻️ refactor(frame): 重构 vue react nuxt 模板
  .vscode/settings.json
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/core/questions/creator/frame.ts
  packages/vite-cli/src/core/questions/creator/index.ts
  packages/vite-cli/src/shared/options.ts
  packages/vite-cli/src/utils/createTemplate.ts
Due: prettier --write ., eslint --fix

✨ feat(setting): update setting json
  .vscode/settings.json
Due: none

🎨 fix(frame): update package first
  packages/vite-cli/template/nuxt/package.json
  packages/vite-cli/template/react/package.json
Due: none

🎨 fix(异步): 模板 异步 导致 frame 失效问题
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/core/questions/creator/frame.ts
Due: prettier --write ., eslint --fix

✨ feat(version 0.15.2): update render ejs version
  packages/vite-cli/package.json
Due: none

✨ feat(version md): ✨ feat(version 0.15.2): update render ejs version
  README.md
Due: prettier --write

📝 docs(md): readme
  README.md
Due: prettier --write

✨ feat(type tempalte): update tempalte types
  packages/vite-cli/template/vue/src/main.ejs
  packages/vite-cli/template/vue/tsconfig.json
Due: none

✨ feat(plugin template): refactor 模板中的 编译 ejs
  packages/vite-cli/src/core/questions/creator/ejsMapConstant.ts
  packages/vite-cli/src/core/questions/creator/index.ts
  packages/vite-cli/src/shared/options.ts
  packages/vite-cli/template/vue/build/vite/plugin.ejs
Due: prettier --write ., eslint --fix

📝 docs(add cros): cros 徽章
  README.md
Due: prettier --write

🎨 fix(naive): 修复 naive ui 未知version 问题
  .vscode/settings.json
  packages/vite-cli/src/core/questions/creator/ejsMapConstant.ts
  packages/vite-cli/src/core/questions/creator/index.ts
  packages/vite-cli/src/shared/options.ts
  packages/vite-cli/template/vue/build/vite/plugin.ejs
  packages/vite-cli/template/vue/package.ejs
Due: prettier --write ., eslint --fix

✨ feat(style): update framework style
  .vscode/settings.json
  packages/vite-cli/src/core/questions/creator/frame.ts
Due: prettier --write ., eslint --fix

✨ feat(colorlist): deps update color
  packages/vite-cli/package.json
  packages/vite-cli/src/core/questions/creator/frame.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

✨ feat(try catch): 捕获 用户 退出操作 优化
  packages/vite-cli/src/core/command/create/createProject/index.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

✨ feat(build): success build already
  packages/vite-cli/template/vue/src/plugins/directives.ts
  packages/vite-cli/template/vue/src/router/index.ts
  packages/vite-cli/template/vue/src/services/index.ts
  packages/vite-cli/template/vue/src/types/index.ts
  packages/vite-cli/template/vue/src/utils/cache.ts
  packages/vite-cli/template/vue/src/utils/common/globalFile.ts
  packages/vite-cli/template/vue/src/utils/common/index.ts
  packages/vite-cli/template/vue/src/utils/common/promise.ts
  packages/vite-cli/template/vue/src/utils/index.ts
Due: prettier --write ., eslint --fix

🌈 style(编译ejs map): 编译 ejs map 格式 重构
  packages/vite-cli/package-lock.json
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/core/questions/creator/frame.ts
  packages/vite-cli/src/core/questions/creator/index.ts
  packages/vite-cli/template/vue/package.ejs
Due: prettier --write ., eslint --fix

🎨 fix(add exists): exists log error
  packages/vite-cli/src/utils/emptyDirName.ts
  packages/vite-cli/template/vue/build/vite/plugin.ejs
Due: prettier --write ., eslint --fix

✨ feat(npx): 新增 npx 执行命令
  README.md
  packages/vite-cli/package.json
  packages/vite-cli/src/core/command/version/index.ts
Due: prettier --write ., eslint --fix, prettier --write

♻️ refactor(npx): 重构commander 使用 npx 创建 项目初始化 结构目录
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/core/command/create/index.ts
  packages/vite-cli/src/core/questions/creator/index.ts
  packages/vite-cli/src/core/questions/creator/projectName.ts
Due: prettier --write ., eslint --fix

✨ feat(v0.15.5): update 0.15.5 version tag
  packages/vite-cli/package.json
Due: none

📝 docs(docs): update readme
  README.md
Due: prettier --write

✨ feat(npx): 新增npx 配置 重构命令
  packages/vite-cli/src/core/command/create/index.ts
  packages/vite-cli/src/core/command/version/index.ts
Due: prettier --write ., eslint --fix

🌈 style(version): cli udpate 0.15.5
  packages/vite-cli/package.json
Due: none

✨ feat(readme): 📝 docs(docs): update readme
  README.md
Due: prettier --write

📝 docs(readme): update readme
  README.md
Due: prettier --write

✨ feat(readme): update readme
  README.md
Due: prettier --write

✨ feat(empty name): update name 判断
  packages/vite-cli/package.json
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/core/questions/creator/projectName.ts
  packages/vite-cli/src/utils/emptyDirName.ts
Due: prettier --write ., eslint --fix

✨ feat(overwrite): 新增 overwrite 覆盖文件夹
  packages/vite-cli/package-lock.json
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/core/questions/creator/projectName.ts
Due: prettier --write ., eslint --fix

🌈 style(error): error callback
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/core/questions/creator/index.ts
  packages/vite-cli/src/core/questions/creator/projectName.ts
Due: prettier --write ., eslint --fix

✨ feat(docs): update readme
  README.md
  packages/vite-cli/package.json
  packages/vite-cli/src/core/questions/creator/projectName.ts
Due: prettier --write ., eslint --fix, prettier --write

✨ feat(vuetity): fix vuetify downerror
  packages/vite-cli/package.json
  packages/vite-cli/template/vue/build/vite/plugin.ejs
Due: none

✨ feat(error): 新增 错误捕获功能
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/core/questions/creator/index.ts
Due: prettier --write ., eslint --fix
