Repository ErKeLost/create-vite-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix, prettier --write

chore: service update template
  packages/vite-cli/template/vue/src/services/index.ts
Due: prettier --write ., eslint --fix

chore: v0.19.9
  packages/vite-cli/package.json
Due: none

update: all deps version
  packages/vite-cli/package.json
  packages/vite-cli/src/compile/features.ts
  packages/vite-cli/src/compile/plugins.ts
  packages/vite-cli/src/compile/vueComponents.ts
  packages/vite-cli/template/vue/package.ejs
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

chore: release v0.19.10
  packages/vite-cli/package.json
Due: none

update: dep versions
  package.json
  packages/vite-cli/src/compile/vueComponents.ts
  packages/vite-cli/src/core/questions/vue/components.ts
  scripts/build.mjs
Due: prettier --write ., eslint --fix

update: deps update version
  package.json
  packages/vite-cli/package.json
  packages/vite-cli/scripts/dev.mjs
  packages/vite-cli/tsup.config.ts
  pnpm-lock.yaml
  scripts/post.mjs
Due: prettier --write ., eslint --fix

chore: release v0.19.11
  packages/vite-cli/package.json
Due: none

✨ feat(custom): add use npmmirror question
  packages/vite-cli/src/core/questions/creator/index.ts
  packages/vite-cli/src/core/questions/creator/npmMirror.ts
  packages/vite-cli/src/shared/templateFile.ts
  packages/vite-cli/src/utils/ejsRender.ts
  packages/vite-cli/template/vue/.npmrc
  packages/vite-cli/template/vue/.npmrc.ejs
Due: prettier --write ., eslint --fix

🎨 fix(custom): fix target dir empty check
  packages/vite-cli/src/core/questions/creator/projectName.ts
  packages/vite-cli/src/utils/emptyDirName.ts
Due: prettier --write ., eslint --fix

✨ feat(custom): add use npmmirror question (#8)
  packages/vite-cli/src/core/questions/creator/index.ts
  packages/vite-cli/src/core/questions/creator/npmMirror.ts
  packages/vite-cli/src/shared/templateFile.ts
  packages/vite-cli/src/utils/ejsRender.ts
  packages/vite-cli/template/vue/.npmrc
  packages/vite-cli/template/vue/.npmrc.ejs
Due: prettier --write ., eslint --fix

🎨 fix(custom): fix target dir empty check (#7)
  packages/vite-cli/src/core/questions/creator/projectName.ts
  packages/vite-cli/src/utils/emptyDirName.ts
Due: prettier --write ., eslint --fix

refactor: react template
  .vscode/settings.json
  package.json
  packages/vite-cli/package.json
  packages/vite-cli/scripts/dev.mjs
  packages/vite-cli/src/core/command/create/createProject/copyTemplate.ts
  packages/vite-cli/template/react/.eslintrc.js
  packages/vite-cli/template/react/.gitignore.ejs
  packages/vite-cli/template/react/README.md
  packages/vite-cli/template/react/package.json
  packages/vite-cli/template/react/public/favicon.ico
  packages/vite-cli/template/react/public/index.html
  packages/vite-cli/template/react/public/logo192.png
  packages/vite-cli/template/react/public/logo512.png
  packages/vite-cli/template/react/public/manifest.json
  packages/vite-cli/template/react/public/robots.txt
  packages/vite-cli/template/react/src/App.css
  packages/vite-cli/template/react/src/App.js
  packages/vite-cli/template/react/src/App.test.js
  packages/vite-cli/template/react/src/index.css
  packages/vite-cli/template/react/src/index.js
  packages/vite-cli/template/react/src/logo.svg
  packages/vite-cli/template/react/src/reportWebVitals.js
  packages/vite-cli/template/react/src/setupTests.js
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix, prettier --write

chore: esbuild watch
  .vscode/settings.json
  packages/vite-cli/package.json
  packages/vite-cli/scripts/dev.mjs
  packages/vite-cli/src/index.ts
  packages/vite-cli/tsup.config.ts
Due: prettier --write ., eslint --fix

feat: add react template
  packages/vite-cli/template/react/.gitignore
  packages/vite-cli/template/react/index.html
  packages/vite-cli/template/react/package.json
  packages/vite-cli/template/react/public/vite.svg
  packages/vite-cli/template/react/src/App.css
  packages/vite-cli/template/react/src/App.tsx
  packages/vite-cli/template/react/src/assets/react.svg
  packages/vite-cli/template/react/src/index.css
  packages/vite-cli/template/react/src/main.tsx
  packages/vite-cli/template/react/src/vite-env.d.ts
  packages/vite-cli/template/react/tsconfig.json
  packages/vite-cli/template/react/tsconfig.node.json
  packages/vite-cli/template/react/vite.config.ts
Due: prettier --write ., eslint --fix

chore: eslint
  package.json
  pnpm-lock.yaml
Due: none

chore: esbuild log plugin
  package.json
  pnpm-lock.yaml
  scripts/build.mjs
Due: none

Update README.md
  README.md
Due: prettier --write

chore: update template
  packages/vite-cli/package.json
  packages/vite-cli/src/core/command/create/createProject/copyTemplate.ts
Due: prettier --write ., eslint --fix

chore: test react
  packages/vite-cli/src/core/questions/creator/frame.ts
Due: prettier --write ., eslint --fix

chore: release v0.19.12
  packages/vite-cli/package.json
Due: none

chore: esbuild success text
  scripts/build.mjs
Due: none

chore: not install deps
  packages/vite-cli/src/core/command/create/createProject/copyTemplate.ts
  packages/vite-cli/src/core/command/create/createProject/notInstall.ts
  packages/vite-cli/src/core/command/create/index.ts
  packages/vite-cli/src/shared/vueEjsMapConstant.ts
Due: prettier --write ., eslint --fix

chore: release v0.19.13
  packages/vite-cli/package.json
Due: none

chore: ts up build success
  package.json
  packages/vite-cli/src/core/questions/creator/frame.ts
  packages/vite-cli/tsup.config.ts
  pnpm-lock.yaml
  scripts/build.mjs
Due: prettier --write ., eslint --fix

chore: esbuild chokidar watch file
  scripts/build.mjs
Due: none

chore: init tsup
  packages/vite-cli/package.json
  packages/vite-cli/scripts/dev.mjs
  packages/vite-cli/tsup.config.ts
Due: prettier --write ., eslint --fix

chore: init tsup
  packages/vite-cli/template/nuxt/package.json
Due: none

chore: map ejs variable
  packages/vite-cli/src/compile/features.ts
  packages/vite-cli/src/compile/plugins.ts
  packages/vite-cli/src/shared/reactEjsMapConstant.ts
  packages/vite-cli/src/shared/vueEjsMapConstant.ts
  packages/vite-cli/tsup.config.ts
Due: prettier --write ., eslint --fix

chore: update version deps
  packages/vite-cli/src/core/questions/vue/index.ts
  packages/vite-cli/src/shared/options.ts
  packages/vite-cli/template/vue/package.ejs
  scripts/build.mjs
Due: prettier --write ., eslint --fix

chore: resolve options
  packages/vite-cli/src/core/questions/vue/index.ts
Due: prettier --write ., eslint --fix

pref: Optimize the overall logical structure
  packages/vite-cli/package.json
  packages/vite-cli/src/core/command/create/createProject/initialLog.ts
  packages/vite-cli/src/core/command/create/createProject/install.ts
  packages/vite-cli/src/core/command/create/createProject/notInstall.ts
  packages/vite-cli/src/core/command/index.ts
  packages/vite-cli/src/core/questions/creator/index.ts
  packages/vite-cli/src/core/questions/creator/projectName.ts
  packages/vite-cli/src/shared/templateFile.ts
  packages/vite-cli/src/utils/clearConsole.ts
  packages/vite-cli/template/vue/.npmrc.ejs
Due: prettier --write ., eslint --fix

chore: release v0.19.16
  packages/vite-cli/package.json
Due: none

chore: install package
  packages/vite-cli/package.json
  packages/vite-cli/src/core/command/create/createProject/notInstall.ts
Due: prettier --write ., eslint --fix

chore: release v0.19.17
  packages/vite-cli/package.json
Due: none

chore: install package
  packages/vite-cli/src/core/command/create/createProject/install.ts
  packages/vite-cli/src/core/command/create/createProject/notInstall.ts
  packages/vite-cli/src/core/command/create/index.ts
  packages/vite-cli/src/core/questions/creator/index.ts
  packages/vite-cli/src/core/questions/creator/packageManager.ts
  packages/vite-cli/src/shared/options.ts
Due: prettier --write ., eslint --fix

chore: release v0.19.18
  packages/vite-cli/package.json
Due: none

chore: install command
  packages/vite-cli/src/core/command/create/createProject/install.ts
Due: prettier --write ., eslint --fix

Path conditions:
  prettier --write .: any of: *.{js,jsx,ts,tsx}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.md
