Repository ErKeLost/create-vite-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write .", "eslint  --fix", "git add"],
  "*.md": ["prettier --write"]
}

💄 style(style): 代码格式结构
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/core/command/create/index.ts
Due: prettier --write ., eslint --fix

✨ feat(ts-alias): 新增 tsc 最终使用tsc 打包 构建alias
  package.json
  packages/docs/package.json
  packages/vite-cli/package.json
  pnpm-lock.yaml
Due: none

✨ feat(rebuild template): ✨ feat(template): update template
  packages/vite-cli/template/.eslintrc.js
  packages/vite-cli/template/.lintstagedrc
  packages/vite-cli/template/postcss.config.js
  packages/vite-cli/template/src/api/index.js
  packages/vite-cli/template/src/components/index.js
  packages/vite-cli/template/src/components/sys/StaticFile.vue
  packages/vite-cli/template/src/hooks/useClipboard.js
  packages/vite-cli/template/src/hooks/useClipboard.ts
  packages/vite-cli/template/src/hooks/useDevice.js
  packages/vite-cli/template/src/hooks/useFullscreen.js
  packages/vite-cli/template/src/hooks/useFullscreen.ts
  packages/vite-cli/template/src/layouts/BlankLayout.vue
  packages/vite-cli/template/src/layouts/default/components/DefaultFooter.vue
  packages/vite-cli/template/src/layouts/default/components/DefaultHeader.vue
  packages/vite-cli/template/src/libs/emitter.js
  packages/vite-cli/template/src/libs/request/index.js
  packages/vite-cli/template/src/libs/utils/baseApiUrl.js
  packages/vite-cli/template/src/libs/utils/baseStaticUrl.js
  packages/vite-cli/template/src/libs/utils/index.js
  packages/vite-cli/template/src/libs/utils/setTitle.js
  packages/vite-cli/template/src/pages/example/index.vue
  packages/vite-cli/template/src/router/index.js
  packages/vite-cli/template/src/router/index.ts
  packages/vite-cli/template/src/router/permission.js
  packages/vite-cli/template/src/stores/index.js
  packages/vite-cli/template/src/stores/user.js
  packages/vite-cli/template/tailwind.config.js
  packages/vite-cli/template/tsconfig.json
Due: prettier --write ., eslint --fix

🎨 fix(template): 模板编译导致 项目启动 js 语法报错
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

📝 docs(env): update env pro
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/template/.env
  packages/vite-cli/template/.env.staging
  packages/vite-cli/template/src/libs/utils/setTitle.ts
Due: prettier --write ., eslint --fix

🎨 fix(eslint): rebuild lint-staged
  .eslintignore
  .husky/pre-commit
  packages/vite-cli/src/core/command/create/createProject/index.ts
Due: prettier --write ., eslint --fix

🎨 fix(eslint): ignore
  packages/vite-cli/template/.eslintrc.js
  packages/vite-cli/template/.lintstagedrc
  packages/vite-cli/template/postcss.config.js
  packages/vite-cli/template/src/components/sys/StaticFile.vue
  packages/vite-cli/template/src/hooks/useClipboard.ts
  packages/vite-cli/template/src/hooks/useFullscreen.ts
  packages/vite-cli/template/src/layouts/BlankLayout.vue
  packages/vite-cli/template/src/layouts/default/components/DefaultFooter.vue
  packages/vite-cli/template/src/layouts/default/components/DefaultHeader.vue
  packages/vite-cli/template/src/pages/example/index.vue
  packages/vite-cli/template/src/router/index.ts
  packages/vite-cli/template/tailwind.config.js
  packages/vite-cli/template/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

🎨 fix(lint): fix lint staged
  packages/vite-cli/template/.lintstagedrc
Due: none

✨ feat(package): 新增选择包管理器功能
  packages/vite-cli/package.json
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/core/questions/creator/index.ts
  packages/vite-cli/src/core/questions/creator/packageDevice.ts
  packages/vite-cli/src/shared/options.ts
Due: prettier --write ., eslint --fix

🎨 fix(layout): remove layout
  packages/vite-cli/src/core/questions/creator/components.ts
  packages/vite-cli/template/package.ejs
  packages/vite-cli/template/vite.config.ejs
Due: prettier --write ., eslint --fix

📝 docs(vuetify): update version and add vuetify
  packages/vite-cli/package.json
Due: none

📝 docs(depoly): add netify depoly
  netlify.toml
  pnpm-lock.yaml
Due: none

🎨 fix(turbo): turbo docs pipeline
  turbo.json
Due: none

🎨 fix(turbo): set netify depoly settting
  netlify.toml
Due: none

💄 style(command): netify command
  netlify.toml
Due: none

♻️ refactor(package): add pnpm to depoly
  package.json
Due: none

📝 docs(pnpm): add deps pnpm react
  package.json
  pnpm-lock.yaml
Due: none

🎨 fix(pnpm): rebuild add deps pnpm
  package.json
  pnpm-lock.yaml
Due: none

🎨 fix(ppnpm): 修复pnpm 安装导致 peer 严格模式报错
  packages/vite-cli/template/.npmrc
Due: none

✨ feat(ejs): template 编译 ejs
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/shared/templateFile.ts
  packages/vite-cli/src/utils/createTemplate.ts
  packages/vite-cli/template/package.ejs
  packages/vite-cli/template/src/main.ejs
  packages/vite-cli/template/vite.config.ejs
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

🎨 fix(package): 包管理器功能完成
  packages/vite-cli/template/.gitignore.ejs
Due: none

📝 docs(home): add some title
  packages/docs/.vitepress/theme/styles/vars.css
  packages/docs/index.md
Due: prettier --write

📝 docs(gthub): add github address
  packages/docs/index.md
Due: prettier --write

🎨 fix(readme): remove img
  README.md
Due: prettier --write

✨ feat(remove): sponosors remove
  packages/docs/.vitepress/theme/components/HomeSponsors.vue
Due: none

📝 docs(refactor): refactor docs
  packages/docs/.vitepress/config.ts
  packages/docs/.vitepress/theme/components/Banner.vue
  packages/docs/src/components/index.ts
Due: prettier --write ., eslint --fix

✨ feat(vitepress): layout update
  packages/docs/.vitepress/config.ts
  packages/docs/.vitepress/theme/index.ts
  packages/docs/.vitepress/theme/styles/vars.css
  packages/docs/package.json
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

♻️ refactor(version): vitepress 版本问题 重构 不再使用自定义layout
  packages/docs/.vitepress/theme/components/Banner.vue
  packages/docs/.vitepress/theme/styles/vars.css
  packages/docs/package.json
  pnpm-lock.yaml
Due: none

✨ feat(css): docs style depoly error
  packages/docs/.vitepress/theme/index.ts
  packages/docs/.vitepress/theme/styles/vars.css
Due: prettier --write ., eslint --fix

✨ feat(depoly): ✨ feat(css): docs style depoly error
  packages/docs/.vitepress/theme/index.ts
Due: prettier --write ., eslint --fix

🎨 fix(depoly): error
  .npmrc
  packages/vite-cli/package-lock.json
  pnpm-lock.yaml
Due: none

🎨 fix(element): add用户获取 不同版本
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/template/package.ejs
Due: prettier --write ., eslint --fix

💄 style(yaml): add package yaml
  pnpm-lock.yaml
Due: none

✨ feat(log): 📝 docs(refactor): refactor docs
  packages/docs/.vitepress/theme/components/Banner.vue
  packages/docs/.vitepress/theme/styles/vars.css
  packages/docs/index.md
  packages/docs/public/cli.png
Due: prettier --write

📝 docs(add home): home page compalte
  packages/docs/.vitepress/config.ts
  packages/docs/index.md
Due: prettier --write ., eslint --fix, prettier --write

🎨 fix(eror): 编译 ejs报错问题
  packages/vite-cli/package.json
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/core/command/version/index.ts
  packages/vite-cli/template/package.ejs
  packages/vite-cli/template/vite.config.ejs
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

✨ feat(color): 新增color ful 测试 基础模板成功
  packages/vite-cli/package.json
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/core/command/version/index.ts
  packages/vite-cli/src/shared/templateFile.ts
  packages/vite-cli/src/utils/createTemplate.ts
  packages/vite-cli/template/vite.config.ejs
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix
