Repository ErKeLost/create-vite-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix, prettier --write

✨ 新增(typescript): 更新stage
  .husky/pre-commit
Due: none

♻️ 重构(javascript): config cz 格式修改
  .cz-config.js
Due: prettier --write ., eslint --fix

🐛 修复: 🐛 修复(base config): update base config
  .cz-config.js
Due: prettier --write ., eslint --fix

修复: 修复(config): fix base config
  .cz-config.js
Due: prettier --write ., eslint --fix

格式(config): update base config two base
  .eslintrc.js
  .prettierignore
  .prettierrc.js
  package.json
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

♻️ refactor(rebuild): rebuild config ease
  .cz-config.js
  .husky/pre-commit
  apps/docs/.eslintrc.js
  apps/docs/README.md
  apps/docs/next-env.d.ts
  apps/docs/next.config.js
  apps/docs/package.json
  apps/docs/pages/index.tsx
  apps/docs/tsconfig.json
  apps/web/.eslintrc.js
  apps/web/README.md
  apps/web/next-env.d.ts
  apps/web/next.config.js
  apps/web/package.json
  apps/web/pages/index.tsx
  apps/web/tsconfig.json
  package.json
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/package.json
  packages/tsconfig/README.md
  packages/tsconfig/base.json
  packages/tsconfig/nextjs.json
  packages/tsconfig/package.json
  packages/tsconfig/react-library.json
  packages/ui/Button.tsx
  packages/ui/index.tsx
  packages/ui/package.json
  packages/ui/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write ., eslint --fix, prettier --write

🐛 fix(eslint): fix eslint with lint-staged
  .eslintignore
  .eslintrc.js
  commitlint.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write ., eslint --fix

✨ feat(typescript): update typescript deps
  package.json
  pnpm-lock.yaml
Due: none

✨ feat(docs): new docs package
  package.json
  packages/docs/readme.md
Due: prettier --write

✨ feat(readme): update icons vitecli
  README.md
Due: prettier --write

✨ feat(icon): update readme icons
  README.md
Due: prettier --write

✨ feat(cli): vite cli initial
  packages/vite-cli/index.ts
  packages/vite-cli/readme.md
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix, prettier --write

✅ test(test): eslint var
  pnpm-lock.yaml
Due: none

🎨 fix(config): rebuild cz config emijo
  .cz-config.js
Due: prettier --write ., eslint --fix

✅ test(lint): test lint staged
  packages/vite-cli/index.ts
Due: prettier --write ., eslint --fix

📝 docs(readme): add icon size change
  README.md
Due: prettier --write

✨ feat(cli): update cli deps prepare ready !
  packages/vite-cli/package.json
  pnpm-lock.yaml
Due: none

✨ feat(config): add base config with workspace
  .changeset/README.md
  .changeset/config.json
  packages/docs/package.json
Due: prettier --write

✨ feat(change): eslint with error
  .eslintrc.js
  .lintstagedrc.json
  package.json
  packages/vite-cli/index.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

🎨 fix(eslint): 分号问题
  .eslintrc.js
  packages/vite-cli/index.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

✨ feat(tsc): tsc 打包测试成功
  .eslintrc.js
  packages/vite-cli/dist/index.js
  packages/vite-cli/package.json
Due: prettier --write ., eslint --fix

✨ feat(cli): test cli complate
  packages/vite-cli/dist/index.js
  packages/vite-cli/index.ts
  packages/vite-cli/package-lock.json
  packages/vite-cli/package.json
Due: prettier --write ., eslint --fix

✅ test(chalk): test chalk version remove to 4.1.0
  package.json
  packages/vite-cli/dist/index.js
  packages/vite-cli/index.ts
  packages/vite-cli/package.json
  packages/vite-cli/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

✅ test(ts): test eslint
  packages/vite-cli/index.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

✅ test(eslint): test eslint
  packages/vite-cli/index.ts
Due: prettier --write ., eslint --fix

✨ feat(cli): vite cli 版本指令完成
  packages/vite-cli/dist/core/command/index.js
  packages/vite-cli/dist/core/command/version/index.js
  packages/vite-cli/dist/core/program.js
  packages/vite-cli/dist/index.js
  packages/vite-cli/dist/shared/constant.js
  packages/vite-cli/dist/utils/index.js
  packages/vite-cli/dist/utils/log.js
  packages/vite-cli/dist/utils/pormpt.js
  packages/vite-cli/dist/utils/spinner.js
  packages/vite-cli/dist/utils/terminal.js
  packages/vite-cli/index.ts
  packages/vite-cli/package.json
  packages/vite-cli/src/core/command/index.ts
  packages/vite-cli/src/core/command/version/index.ts
  packages/vite-cli/src/core/program.ts
  packages/vite-cli/src/index.ts
  packages/vite-cli/src/shared/constant.ts
  packages/vite-cli/src/utils/index.ts
  packages/vite-cli/src/utils/log.ts
  packages/vite-cli/src/utils/pormpt.ts
  packages/vite-cli/src/utils/spinner.ts
  packages/vite-cli/src/utils/terminal.ts
  packages/vite-cli/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

📝 docs(readme): update img 指令图片
  README.md
  pnpm-lock.yaml
Due: prettier --write

📝 docs(readme): update readme size
  README.md
Due: prettier --write

✨ feat(version): update version command
  packages/vite-cli/dist/core/command/version/index.js
  packages/vite-cli/dist/shared/constant.js
  packages/vite-cli/package.json
  packages/vite-cli/src/core/command/version/index.ts
  packages/vite-cli/src/shared/constant.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

✨ feat(yarm): yaml
  pnpm-lock.yaml
Due: none

✨ feat(command): 新增 工具链 help command create command
  package.json
  packages/vite-cli/dist/core/command/create/createProject/index.js
  packages/vite-cli/dist/core/command/create/index.js
  packages/vite-cli/dist/core/command/help/index.js
  packages/vite-cli/dist/core/command/index.js
  packages/vite-cli/dist/index.js
  packages/vite-cli/dist/utils/emptyDirName.js
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/core/command/create/index.ts
  packages/vite-cli/src/core/command/help/index.ts
  packages/vite-cli/src/core/command/index.ts
  packages/vite-cli/src/index.ts
  packages/vite-cli/src/utils/emptyDirName.ts
Due: prettier --write ., eslint --fix

✨ feat(clear): 新增 clear console 方法 调用函数 时清空
  packages/vite-cli/dist/core/questions/createProject/index.js
  packages/vite-cli/dist/core/questions/index.js
  packages/vite-cli/dist/utils/clearConsole.js
  packages/vite-cli/package.json
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/core/questions/createProject/index.ts
  packages/vite-cli/src/core/questions/index.ts
  packages/vite-cli/src/utils/clearConsole.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

⚡️ pref: yaml
  pnpm-lock.yaml
Due: none

🎨 fix(type): types/node error monorepo
  package.json
  packages/vite-cli/package.json
  pnpm-lock.yaml
Due: none

✨ feat(clearconsole): func 新增 clear console 方法
  .eslintrc.js
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/core/command/version/index.ts
  packages/vite-cli/src/shared/constant.ts
  packages/vite-cli/src/utils/clearConsole.ts
Due: prettier --write ., eslint --fix

✨ feat(clear): feat readline func
  packages/vite-cli/dist/core/command/create/createProject/index.js
  packages/vite-cli/dist/core/command/version/index.js
  packages/vite-cli/dist/shared/constant.js
  packages/vite-cli/dist/utils/clearConsole.js
  packages/vite-cli/package.json
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/utils/clearConsole.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

✨ feat(yaml): update yaml
  pnpm-lock.yaml
Due: none

🎨 fix(git ignore): dist add this
  .gitignore
Due: none

🎨 fix(dist remove): 🎨 fix(git ignore): dist add this
  packages/vite-cli/dist/core/command/create/createProject/index.js
  packages/vite-cli/dist/core/command/create/index.js
  packages/vite-cli/dist/core/command/help/index.js
  packages/vite-cli/dist/core/command/index.js
  packages/vite-cli/dist/core/command/version/index.js
  packages/vite-cli/dist/core/program.js
  packages/vite-cli/dist/core/questions/createProject/index.js
  packages/vite-cli/dist/core/questions/index.js
  packages/vite-cli/dist/index.js
  packages/vite-cli/dist/shared/constant.js
  packages/vite-cli/dist/utils/clearConsole.js
  packages/vite-cli/dist/utils/emptyDirName.js
  packages/vite-cli/dist/utils/index.js
  packages/vite-cli/dist/utils/log.js
  packages/vite-cli/dist/utils/pormpt.js
  packages/vite-cli/dist/utils/spinner.js
  packages/vite-cli/dist/utils/terminal.js
Due: prettier --write ., eslint --fix

Path conditions:
  prettier --write .: any of: *.{js,jsx,ts,tsx}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.md
