Repository ErKeLost/create-vite-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix, prettier --write

chore: update ignore
  .gitignore
  vite-cli/bundle/index.js
Due: prettier --write ., eslint --fix

chore: update bin command
  vite-cli/package.json
Due: none

chore: release v0.23.23
  vite-cli/package.json
Due: none

chore: release v0.24.0
  vite-cli/package.json
Due: none

chore: release v0.3.0
  vite-cli/package.json
Due: none

chore: release v0.3.1
  vite-cli/package.json
Due: none

chore: update command
  vite-cli/package.json
  vite-cli/tsup.config.ts
Due: prettier --write ., eslint --fix

chore: release v0.3.2
  vite-cli/package.json
Due: none

fix: path resolution error in windows
  vite-cli/src/compile/common/frameQuestions.ts
Due: prettier --write ., eslint --fix

chore: update lock
  pnpm-lock.yaml
Due: none

chore: release v0.3.3
  vite-cli/package.json
Due: none

chore: update lock
  vite-cli/package.json
Due: none

chore: release v0.3.4
  vite-cli/package.json
Due: none

chore: release v0.3.5
  vite-cli/package.json
Due: none

chore: release v0.3.6
  vite-cli/package.json
Due: none

chore: release v0.3.7
  vite-cli/package.json
Due: none

chore: update lock file
  pnpm-lock.yaml
Due: none

chore: update code
  vite-cli/src/utils/ejsRender.ts
Due: prettier --write ., eslint --fix

chore: release v0.3.8
  vite-cli/package.json
Due: none

chore: release v0.4.0
  vite-cli/package.json
Due: none

chore: release v0.5.0
  vite-cli/package.json
Due: none

chore: release v0.5.1
  vite-cli/package.json
Due: none

chore: release v0.5.2
  vite-cli/package.json
Due: none

chore: release v0.5.3
  vite-cli/package.json
Due: none

chore: update deps
  vite-cli/src/dependence/vue/components.ts
  vite-cli/src/dependence/vue/features.ts
  vite-cli/src/dependence/vue/plugins.ts
Due: prettier --write ., eslint --fix

chore: update new template
  package.json
  pnpm-lock.yaml
  scripts/build.mjs
  vite-cli/package.json
  vite-cli/src/core/questions/vue/components.ts
  vite-cli/src/dependence/vue/components.ts
  vite-cli/src/utils/ejsRender.ts
  vite-cli/template/vue/src/assets/shuimo.svg
  vite-cli/template/vue/src/components/HelloWorld.ejs
  vite-cli/template/vue/src/components/Welcome.ejs
  vite-cli/template/vue/src/main.ejs
Due: prettier --write ., eslint --fix

chore: release v0.5.5
  vite-cli/package.json
Due: none

chore: release v0.5.6
  vite-cli/package.json
Due: none

chore: update shuimo name
  vite-cli/src/core/questions/vue/components.ts
Due: prettier --write ., eslint --fix

chore: update bump version
  vite-cli/src/dependence/vue/components.ts
  vite-cli/src/dependence/vue/features.ts
  vite-cli/src/dependence/vue/plugins.ts
Due: prettier --write ., eslint --fix

chore: release v0.5.8
  vite-cli/package.json
Due: none

chore: release v0.5.9
  vite-cli/package.json
Due: none

Update README.md
  README.md
Due: prettier --write

Path conditions:
  prettier --write .: any of: *.{js,jsx,ts,tsx,vue}
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
  prettier --write: any of: *.md
