Repository ErKeLost/create-vite-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write .", "eslint  --fix", "git add"],
  "*.md": ["prettier --write"]
}

chore: release v0.23.4
  packages/script/package.json
  packages/vite-cli/package.json
Due: none

style: remove packages
  scripts/build.mjs
Due: none

chore: update vue template version
  vite-cli/template/vue/package.ejs
Due: none

chore: npm script
  vite-cli/package.json
  vite-cli/src/core/command/create/createProject/install.ts
Due: prettier --write ., eslint --fix

feat: resolve deps with script dynamic
  package.json
  vite-cli/package.json
  vite-cli/src/compile/vue/features.ts
  vite-cli/src/core/command/create/createProject/initialLog.ts
  vite-cli/src/core/questions/vue/index.ts
  vite-cli/src/shared/options.ts
  vite-cli/template/vue/package.ejs
  vite-cli/template/vue/src/services/index.ts
  vite-cli/template/vue/src/services/request/index.ts
  vite-cli/template/vue/src/services/request/type.ts
Due: prettier --write ., eslint --fix

chore: release v0.23.7
  vite-cli/package.json
Due: none

chore: configure with project
  .cz-config.js
  .editorconfig
  .eslintignore
  .github/dependabot.yml
  .husky/commit-msg
  .npmrc
  .vscode/settings.json
  docs/vite.config.ts
  netlify.toml
  package.json
  turbo.json
Due: prettier --write ., eslint --fix

chore: configure with project
  .eslintrc.js
  .gitignore
  .lintstagedrc.json
  .prettierignore
  .prettierrc.js
  .vscode/settings.json
  README.md
  commitlint.config.js
  pnpm-workspace.yaml
Due: prettier --write ., eslint --fix, prettier --write

chore: resolve pnpm-lock
  pnpm-lock.yaml
  scripts/prepublish.mjs
Due: none

chore: resolve some base error with vite unocss
  vite-cli/src/compile/vue/features.ts
  vite-cli/template/vue/uno.config.ts
  vite-cli/theme/elementPlus/layout/components/theme-setting/theme-color/element-plus.ts
Due: prettier --write ., eslint --fix

fix: bug fix dep error
  vite-cli/template/vue/uno.config.ts
Due: prettier --write ., eslint --fix

chore: release v0.23.8
  vite-cli/package.json
Due: none

chore: remove unless console code
  vite-cli/theme/antDesignVue/layout/components/global-tab/index.vue
  vite-cli/theme/antDesignVue/layout/components/theme-setting/drawer-content/global-layout/index.vue
  vite-cli/theme/antDesignVue/layout/components/theme-setting/drawer-content/global-theme/index.vue
  vite-cli/theme/antDesignVue/layout/components/theme-setting/drawer-content/index.vue
  vite-cli/theme/antDesignVue/store/modules/theme/helpers.ts
  vite-cli/theme/antDesignVue/theme/helpers.ts
  vite-cli/theme/elementPlus/layout/components/global-tab/index.vue
  vite-cli/theme/elementPlus/layout/components/theme-setting/drawer-content/global-layout/index.vue
  vite-cli/theme/elementPlus/layout/components/theme-setting/drawer-content/global-theme/index.vue
  vite-cli/theme/elementPlus/store/modules/theme/helpers.ts
  vite-cli/theme/elementPlus/theme/helpers.ts
  vite-cli/theme/naiveUI/layout/components/global-tab/index.vue
  vite-cli/theme/naiveUI/layout/components/theme-setting/drawer-content/global-layout/index.vue
  vite-cli/theme/naiveUI/layout/components/theme-setting/drawer-content/global-theme/index.vue
  vite-cli/theme/naiveUI/layout/components/theme-setting/drawer-content/index.vue
  vite-cli/theme/naiveUI/store/modules/theme/helpers.ts
  vite-cli/theme/naiveUI/theme/helpers.ts
Due: prettier --write ., eslint --fix

chore: release v0.23.9
  vite-cli/package.json
Due: none

Update README.md
  README.md
Due: prettier --write

feat: 更新不可向后兼容的esbuild 版本 重构脚本
  package.json
  pnpm-lock.yaml
  scripts/build.mjs
  vite-cli/package.json
Due: none

fix: resolve pwa dev error
  vite-cli/src/compile/vue/plugins.ts
  vite-cli/template/vue/build/vite/plugin.ejs
Due: prettier --write ., eslint --fix

chore: icon reduce size
  .vscode/settings.json
  vite-cli/src/compile/vue/plugins.ts
  vite-cli/template/vue/tsconfig.json
Due: prettier --write ., eslint --fix

chore: release v0.23.11
  vite-cli/package.json
Due: none

chore: update pwa config options
  vite-cli/template/vue/build/vite/plugin.ejs
Due: none

feat: add pwa page
  vite-cli/template/vue/src/components/Pwa.vue
Due: none

feat: prepare dep with devdeps
  vite-cli/src/compile/vue/devDeps.ts
  vite-cli/src/compile/vue/proDeps.ts
Due: prettier --write ., eslint --fix

chore: resolve devdeps
  vite-cli/src/compile/vue/devDeps.ts
  vite-cli/src/core/command/create/index.ts
Due: prettier --write ., eslint --fix

feat: add dev and pro deps easy config
  vite-cli/package.json
  vite-cli/src/compile/vue/components.ts
  vite-cli/src/compile/vue/devDeps.ts
  vite-cli/src/compile/vue/features.ts
  vite-cli/src/compile/vue/plugins.ts
  vite-cli/src/core/command/create/index.ts
  vite-cli/src/core/questions/creator/index.ts
  vite-cli/src/core/questions/vue/index.ts
  vite-cli/src/shared/vueEjsMapConstant.ts
Due: prettier --write ., eslint --fix

refactor： file style system
  vite-cli/src/dependence/index.ts
  vite-cli/src/dependence/vue/components.ts
  vite-cli/src/dependence/vue/devDeps.ts
  vite-cli/src/dependence/vue/features.ts
  vite-cli/src/dependence/vue/plugins.ts
  vite-cli/src/dependence/vue/proDeps.ts
Due: prettier --write ., eslint --fix

refactor: Catalogue style change
  vite-cli/src/compile/common/frameQuestions.ts
  vite-cli/src/compile/index.ts
  vite-cli/src/compile/react/reactEjsMapConstant.ts
  vite-cli/src/compile/vue/components.ts
  vite-cli/src/compile/vue/devDeps.ts
  vite-cli/src/compile/vue/features.ts
  vite-cli/src/compile/vue/options.ts
  vite-cli/src/compile/vue/plugins.ts
  vite-cli/src/compile/vue/proDeps.ts
  vite-cli/src/compile/vue/templateFile.ts
  vite-cli/src/compile/vue/vueEjsMapConstant.ts
  vite-cli/src/core/command/create/createProject/copyTemplate.ts
  vite-cli/src/core/command/create/createProject/initialLog.ts
  vite-cli/src/core/command/create/createProject/install.ts
  vite-cli/src/core/command/version/index.ts
  vite-cli/src/core/questions/creator/index.ts
  vite-cli/src/core/questions/creator/projectName.ts
  vite-cli/src/core/questions/react/index.ts
  vite-cli/src/core/questions/vue/index.ts
  vite-cli/src/core/questions/vue/theme.ts
  vite-cli/src/dependence/vue/devDeps.ts
  vite-cli/src/utils/clearConsole.ts
  vite-cli/src/utils/ejsRender.ts
  vite-cli/src/utils/question.ts
  vite-cli/src/utils/shared/constant.ts
Due: prettier --write ., eslint --fix

chore: resolve config
  .eslintrc.js
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  vite-cli/src/dependence/vue/devDeps.ts
  vite-cli/src/dependence/vue/proDeps.ts
  vite-cli/src/index.ts
Due: prettier --write ., eslint --fix

chore: resolve config
  vite-cli/src/core/questions/vue/index.ts
Due: prettier --write ., eslint --fix

chore: usepinia userouter
  vite-cli/src/compile/common/frameQuestions.ts
  vite-cli/src/compile/vue/templateFile.ts
  vite-cli/src/core/command/create/createProject/copyTemplate.ts
  vite-cli/src/core/command/create/index.ts
  vite-cli/src/core/command/help/index.ts
  vite-cli/src/core/command/index.ts
Due: prettier --write ., eslint --fix

chore: add unocss config change
  vite-cli/src/compile/common/frameQuestions.ts
Due: prettier --write ., eslint --fix

chore: add unocss config change
  vite-cli/src/core/questions/vue/index.ts
Due: prettier --write ., eslint --fix

feat: add deps
  vite-cli/src/dependence/vue/components.ts
  vite-cli/src/dependence/vue/features.ts
  vite-cli/src/dependence/vue/plugins.ts
  vite-cli/template/vue/package.ejs
Due: prettier --write ., eslint --fix

feat: add deps
  vite-cli/src/dependence/vue/plugins.ts
Due: prettier --write ., eslint --fix

chore: release v0.23.13
  vite-cli/package.json
Due: none

feat: add imagemin
  vite-cli/src/core/questions/vue/plugins.ts
  vite-cli/template/vue/build/vite/plugin.ejs
Due: prettier --write ., eslint --fix

chore: release v0.23.14
  vite-cli/package.json
Due: none
