Repository ErKeLost/create-vite-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix, prettier --write

📝 docs(vite-create-app): 0.0.8-alpha 版本发布
  packages/vite-cli/package.json
Due: none

📝 docs(command): first commit command
  packages/docs/index.md
Due: prettier --write

📝 docs(home): config home page
  packages/docs/.vitepress/config.ts
Due: prettier --write ., eslint --fix

📝 docs(home): add home text
  packages/docs/index.md
Due: prettier --write

✨ feat(command): prompts prepare 准备重构 底层逻辑 使用 type module 迁移node 14 +
  packages/vite-cli/package.json
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/core/questions/creator/index.ts
  packages/vite-cli/src/core/questions/creator/pinia.ts
  packages/vite-cli/src/core/questions/creator/plugins.ts
  packages/vite-cli/src/core/questions/creator/router.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

📝 docs(prepare 0.1.0 版本重构): ✨ feat(command): prompts prepare 准备重构 底层逻辑 使用 type module 迁移node 14 +
  package.json
  packages/docs/index.md
  packages/vite-cli/package.json
  pnpm-lock.yaml
Due: prettier --write

🎨 fix(yaml): depoly 报错
  pnpm-lock.yaml
Due: none

📝 docs(template): remove git ignore with tempalte
  .gitignore
  packages/vite-cli/template/build/utils.ts
  packages/vite-cli/template/build/vite/plugin.ejs
Due: prettier --write ., eslint --fix

💄 style(yaml): 📝 docs(template): remove git ignore with tempalte
  pnpm-lock.yaml
Due: none

✨ feat(plugin command): 结合template集成插件模式
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/core/questions/creator/plugins.ts
  packages/vite-cli/template/.npmrc
  packages/vite-cli/template/package.ejs
Due: prettier --write ., eslint --fix

✨ feat(plugin ejs complate): ✨ feat(plugin command): 结合template集成插件模式
  packages/vite-cli/template/build/vite/plugin.ejs
Due: none

✨ feat(router): ✨ feat(plugin ejs complate): ✨ feat(plugin command): 结合template集成插件模式
  packages/vite-cli/template/package.ejs
  packages/vite-cli/template/src/App.vue
  packages/vite-cli/template/src/assets/base.css
  packages/vite-cli/template/src/assets/logo.png
  packages/vite-cli/template/src/assets/logo.svg
  packages/vite-cli/template/src/components/HelloWorld.vue
  packages/vite-cli/template/src/components/TheWelcome.vue
  packages/vite-cli/template/src/components/WelcomeItem.vue
  packages/vite-cli/template/src/components/icons/IconCommunity.vue
  packages/vite-cli/template/src/components/icons/IconDocumentation.vue
  packages/vite-cli/template/src/components/icons/IconEcosystem.vue
  packages/vite-cli/template/src/components/icons/IconSupport.vue
  packages/vite-cli/template/src/components/icons/IconTooling.vue
  packages/vite-cli/template/src/main.ejs
  packages/vite-cli/template/src/types/index.ts
  packages/vite-cli/template/src/views/AboutView.vue
  packages/vite-cli/template/src/views/HomeView.vue
Due: prettier --write ., eslint --fix

✨ feat(component): add prepare component
  packages/vite-cli/template/src/components/HelloWorld.vue
  packages/vite-cli/template/src/components/TheWelcome.vue
  packages/vite-cli/template/src/components/WelcomeItem.vue
  packages/vite-cli/template/src/views/HomeView.vue
Due: none

✨ feat(future command): 集成封装 future command 命令
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/core/questions/creator/common.ts
  packages/vite-cli/src/core/questions/creator/feature.ts
  packages/vite-cli/src/core/questions/creator/index.ts
  packages/vite-cli/src/core/questions/creator/pinia.ts
  packages/vite-cli/src/core/questions/creator/router.ts
Due: prettier --write ., eslint --fix

✨ feat(utils): 修正 删除文件 函数
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/utils/directoryTraverse.ts
  packages/vite-cli/src/utils/emptyDir.ts
  packages/vite-cli/template/src/router/index.ts
Due: prettier --write ., eslint --fix

✨ feat(ejs render): new add ejs render 新增模板渲染方法
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/core/command/create/index.ts
  packages/vite-cli/src/core/questions/creator/components.ts
  packages/vite-cli/src/shared/templateFile.ts
  packages/vite-cli/src/utils/compiler-template.ts
  packages/vite-cli/template/package.ejs
  packages/vite-cli/template/src/App.vue
  packages/vite-cli/template/src/assets/ant-design.svg
  packages/vite-cli/template/src/assets/element-plus.svg
  packages/vite-cli/template/src/assets/naive-ui.svg
  packages/vite-cli/template/src/components/Welcome.ejs
Due: prettier --write ., eslint --fix

🎨 fix(package plugins): add some ejs template
  packages/vite-cli/template/build/vite/plugin.ejs
  packages/vite-cli/template/package.ejs
Due: none

✨ feat(template): template 实例测试成功
  packages/vite-cli/template/package.ejs
  packages/vite-cli/template/src/components/Welcome.ejs
Due: none

🎨 fix(template): fix template replace components
  packages/vite-cli/template/build/vite/plugin.ejs
  packages/vite-cli/template/package.ejs
  packages/vite-cli/template/src/components/Welcome.ejs
Due: none

✨ feat(base 0.1.0-alpha): version update
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/shared/options.ts
  packages/vite-cli/src/shared/templateFile.ts
  packages/vite-cli/template/package.ejs
  packages/vite-cli/template/src/App.ejs
  packages/vite-cli/template/src/components/HelloWorld.ejs
  packages/vite-cli/template/src/components/HelloWorld.vue
  packages/vite-cli/template/src/components/Welcome.ejs
  packages/vite-cli/template/src/main.ejs
  packages/vite-cli/template/src/styles/base.css
Due: prettier --write ., eslint --fix

💄 style(css): style 文件夹 格式 重构
  packages/vite-cli/template/src/styles/base.css
Due: none

📝 docs(template): 优化template 央视
  packages/vite-cli/template/src/App.ejs
  packages/vite-cli/template/src/components/HelloWorld.ejs
  packages/vite-cli/template/src/styles/base.css
Due: none

✨ feat(template): 模板优化
  .cz-config.js
  packages/vite-cli/template/src/App.ejs
  packages/vite-cli/template/src/components/Welcome.ejs
  packages/vite-cli/template/src/main.ejs
  packages/vite-cli/template/src/plugins/assets.ts
  packages/vite-cli/template/src/plugins/customComponents.ts
  packages/vite-cli/template/src/plugins/directives.ts
  packages/vite-cli/template/src/plugins/globalMethods.ts
  packages/vite-cli/template/src/plugins/index.ts
  packages/vite-cli/template/src/router/index.ts
  packages/vite-cli/template/src/services/index.ts
  packages/vite-cli/template/src/services/request/index.ts
  packages/vite-cli/template/src/services/request/type.ts
  packages/vite-cli/template/src/store/index.ts
  packages/vite-cli/template/src/store/modules/counter.ts
  packages/vite-cli/template/src/store/modules/index.ts
Due: prettier --write ., eslint --fix

🎨 fix(pinia): test pinia error
  packages/vite-cli/template/src/App.ejs
  packages/vite-cli/template/src/components/Welcome.ejs
  packages/vite-cli/template/src/main.ejs
Due: none

🎨 fix(template): 渲染模板 bug 修复
  packages/vite-cli/template/src/components/Welcome.ejs
  packages/vite-cli/template/src/main.ejs
  packages/vite-cli/template/src/store/modules/counter.ts
Due: prettier --write ., eslint --fix

📝 docs: 🎨 fix(template): 渲染模板 bug 修复
  packages/docs/guide/index.md
  packages/docs/index.md
Due: prettier --write

✨ feat(0.1.0-alpha): update 0.1.0版本
  packages/docs/.vitepress/config.ts
  packages/docs/guide/index.md
  packages/vite-cli/package.json
Due: prettier --write ., eslint --fix, prettier --write

📝 docs(docs): ✨ feat(0.1.0-alpha): update 0.1.0版本
  packages/docs/guide/index.md
Due: prettier --write

📝 docs(depoly): depoly error
  pnpm-lock.yaml
Due: none

📝 docs(readme): update readme
  README.md
Due: prettier --write

📝 docs(docs):
  README.md
Due: prettier --write

✨ feat(bug): fix some import bug
  packages/docs/guide/index.md
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/shared/templateFile.ts
  packages/vite-cli/template/build/vite/plugin.ejs
  packages/vite-cli/template/src/App.ejs
  packages/vite-cli/template/src/components/HelloWorld.ejs
  packages/vite-cli/template/src/components/Welcome.ejs
  packages/vite-cli/template/src/main.ejs
  packages/vite-cli/template/src/plugins/assets.ejs
  packages/vite-cli/template/src/store/modules/counter.ejs
  packages/vite-cli/tsconfig.json
Due: prettier --write ., eslint --fix, prettier --write

✨ feat(bug): fix
  packages/vite-cli/template/src/components/Welcome.ejs
  packages/vite-cli/template/src/main.ejs
  packages/vite-cli/template/src/store/modules/counter.ejs
  pnpm-lock.yaml
Due: none

✨ feat(new deps): add new tsc-alias deps
  packages/vite-cli/package.json
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

🌈 style(yaml): ✨ feat(new deps): add new tsc-alias deps
  packages/vite-cli/tsconfig.json
  pnpm-lock.yaml
Due: none

📝 docs(npm): add npm readme docs
  packages/vite-cli/package.json
  packages/vite-cli/readme.md
Due: prettier --write

🎨 fix(pro): 生产 环境 报错 promise 修复
  packages/vite-cli/package.json
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/utils/createSpawnCmd.ts
Due: prettier --write ., eslint --fix

✨ feat(error): fix
  packages/vite-cli/package.json
Due: none

🎨 fix(tsc alias): 新增 alias
  packages/vite-cli/package.json
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/core/questions/packages.ts
Due: prettier --write ., eslint --fix

⚡️ pref(version): update 0.1.9-alpha 支持 插件 组件库 完成
  packages/vite-cli/package.json
Due: none

Path conditions:
  prettier --write .: any of: *.{js,jsx,ts,tsx}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.md
