Repository ErKeLost/create-vite-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write .", "eslint  --fix", "git add"],
  "*.md": ["prettier --write"]
}

Update README.md
  README.md
Due: prettier --write

refactor: logger color
  packages/vite-cli/src/core/command/create/createProject/install.ts
Due: prettier --write ., eslint --fix

chore: release v0.20.0
  packages/vite-cli/package.json
Due: none

fix: log error
  packages/vite-cli/src/core/command/create/createProject/install.ts
  packages/vite-cli/src/core/questions/creator/frame.ts
Due: prettier --write ., eslint --fix

chore: release v0.20.1
  packages/vite-cli/package.json
Due: none

chore: support pwa
  packages/vite-cli/template/react/public/_headers
  packages/vite-cli/template/react/public/favicon-dark.svg
  packages/vite-cli/template/react/public/favicon.ico
  packages/vite-cli/template/react/public/favicon.svg
  packages/vite-cli/template/react/public/pwa-192x192.png
  packages/vite-cli/template/react/public/pwa-512x512.png
  packages/vite-cli/template/react/public/vite.svg
  packages/vite-cli/template/vue/build/vite/plugin.ejs
  packages/vite-cli/template/vue/index.ejs
  packages/vite-cli/template/vue/public/_headers
  packages/vite-cli/template/vue/public/favicon-dark.svg
  packages/vite-cli/template/vue/public/favicon.svg
  packages/vite-cli/template/vue/public/pwa-192x192.png
  packages/vite-cli/template/vue/public/pwa-512x512.png
Due: none

chore: release v0.20.2
  packages/vite-cli/package.json
Due: none

chore: release v0.21.0
  packages/vite-cli/package.json
Due: none

chore: plugin version
  packages/vite-cli/template/vue/build/vite/plugin.ejs
  packages/vite-cli/template/vue/package.ejs
Due: none

chore: release v0.21.1
  packages/vite-cli/package.json
Due: none

chore: add pwa with vite
  packages/vite-cli/src/core/questions/vue/plugins.ts
Due: prettier --write ., eslint --fix

chore: remove vuetify
  packages/vite-cli/template/vue/build/vite/plugin.ejs
Due: none

chore: release v0.21.2
  packages/vite-cli/package.json
Due: none

chore: release v0.21.3
  packages/vite-cli/package.json
Due: none

chore: add pwa with vite
  packages/vite-cli/src/compile/vueComponents.ts
  packages/vite-cli/template/vue/src/main.ejs
Due: prettier --write ., eslint --fix

chore: release v0.22.0
  packages/vite-cli/package.json
Due: none

chore： pwa netlify
  packages/vite-cli/template/vue/netlify.toml
Due: none

chore: release v0.22.1
  packages/vite-cli/package.json
Due: none

chore: add next framework
  packages/vite-cli/src/core/questions/creator/frame.ts
  packages/vite-cli/template/next/package.json
Due: prettier --write ., eslint --fix

chore: release v0.22.2
  packages/vite-cli/package.json
Due: none

chore: vuetify version
  packages/vite-cli/template/vue/build/vite/plugin.ejs
  packages/vite-cli/template/vue/package.ejs
  packages/vite-cli/template/vue/src/main.ejs
Due: none

chore: release v0.23.0
  packages/vite-cli/package.json
Due: none

chore: remove unless code
  packages/script/package.json
  packages/vite-cli/package.json
  packages/vite-cli/template/vue/package.ejs
  packages/vite-cli/template/vue/src/main.ejs
Due: none

chore: release v0.23.1
  packages/script/package.json
  packages/vite-cli/package.json
Due: none

chore: feature auto import
  packages/vite-cli/src/compile/vue/components.ts
  packages/vite-cli/src/compile/vue/features.ts
  packages/vite-cli/src/compile/vue/plugins.ts
  packages/vite-cli/src/core/command/create/createProject/notInstall.ts
  packages/vite-cli/src/core/command/create/index.ts
  packages/vite-cli/src/core/questions/creator/projectName.ts
  packages/vite-cli/src/core/questions/vue/index.ts
  packages/vite-cli/src/shared/vueEjsMapConstant.ts
  packages/vite-cli/template/vue/build/vite/plugin.ejs
  packages/vite-cli/template/vue/package.ejs
  packages/vite-cli/template/vue/src/plugins/customComponents.ejs
  packages/vite-cli/theme/elementPlus/layout/components/theme-setting/theme-color/element-plus.ts
Due: prettier --write ., eslint --fix

feat: gradient logger color
  packages/vite-cli/src/core/command/create/createProject/initialLog.ts
  packages/vite-cli/src/core/command/create/createProject/install.ts
  packages/vite-cli/src/utils/log.ts
Due: prettier --write ., eslint --fix

chore: release v0.23.2
  packages/script/package.json
  packages/vite-cli/package.json
Due: none

chore: options config
  .vscode/settings.json
  packages/vite-cli/src/core/questions/vue/components.ts
  packages/vite-cli/src/core/questions/vue/index.ts
  packages/vite-cli/template/vue/build/vite/plugin.ejs
Due: prettier --write ., eslint --fix

chore: fix error with download copy file
  packages/vite-cli/src/core/command/create/createProject/copyTemplate.ts
  packages/vite-cli/src/core/questions/vue/index.ts
  packages/vite-cli/src/shared/frameQuestions.ts
Due: prettier --write ., eslint --fix

fix: eslint with prettier
  packages/vite-cli/src/core/command/create/createProject/copyTemplate.ts
  packages/vite-cli/src/shared/frameQuestions.ts
  packages/vite-cli/template/vue/package.ejs
Due: prettier --write ., eslint --fix

chore: release v0.23.3
  packages/script/package.json
  packages/vite-cli/package.json
Due: none

feat: add script package
  packages/script/package.json
Due: none

chore: version
  packages/vite-cli/src/compile/vue/components.ts
  packages/vite-cli/template/vue/package.ejs
  packages/vite-cli/template/vue/src/utils/common/color.ts
  packages/vite-cli/theme/elementPlus/theme/color.ts
  packages/vite-cli/theme/naiveUI/App.vue
Due: prettier --write ., eslint --fix
