Repository ErKeLost/create-vite-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix, prettier --write

♻️ refactor(dependencies): 重构 npx 代码逻辑 减少生产环境依赖 big deal
  packages/vite-cli/package.json
  packages/vite-cli/src/core/command/version/index.ts
  packages/vite-cli/src/core/questions/creator/components.ts
  packages/vite-cli/src/core/questions/creator/index.ts
  packages/vite-cli/src/core/questions/creator/packageManager.ts
  packages/vite-cli/src/core/questions/packages.ts
  packages/vite-cli/src/utils/clearConsole.ts
  packages/vite-cli/src/utils/index.ts
  packages/vite-cli/src/utils/log.ts
  packages/vite-cli/src/utils/terminal.ts
Due: prettier --write ., eslint --fix

📝 docs(docs): update docs
  README.md
Due: prettier --write

🎨 fix(package): update package deps
  packages/vite-cli/package.json
Due: none

📝 docs(readme): add readme
  packages/vite-cli/readme.md
Due: prettier --write

✨ feat(deps): resolve error
  packages/vite-cli/package.json
  packages/vite-cli/src/core/questions/creator/index.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

📝 docs(yaml): update yaml
  pnpm-lock.yaml
Due: none

⚡️ pref(pre): ✨ feat(vuetity): fix vuetify downerror
  package.json
  packages/vite-cli/package-lock.json
  packages/vite-cli/package.json
  pnpm-lock.yaml
Due: none

✨ feat(manager): 新增判断用户是否安装包管理器
  packages/vite-cli/package.json
  packages/vite-cli/src/core/questions/creator/packageManager.ts
  packages/vite-cli/src/utils/shouldUsePnpm.ts
  packages/vite-cli/src/utils/shouldUseYarn.ts
Due: prettier --write ., eslint --fix

✨ feat(yaml): 修复 yarml
  pnpm-lock.yaml
Due: none

✨ feat(readme): update readme
  README.md
Due: prettier --write

🎨 fix(pro): 修复生产依赖丢失报错
  packages/vite-cli/package.json
  pnpm-lock.yaml
Due: none

✨ feat(theme layout): 新增 工程化 布局 主题化 初始化配置项
  package.json
  packages/vite-cli/package-lock.json
  packages/vite-cli/src/core/questions/creator/index.ts
  packages/vite-cli/src/core/questions/creator/layout.ts
  packages/vite-cli/src/core/questions/creator/theme.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

🎨 fix(yaml): update yaml
  pnpm-lock.yaml
Due: none

🎨 fix(layout): 移除 layout 把 theme 和 layout 并成一项
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/core/questions/creator/index.ts
  packages/vite-cli/src/core/questions/creator/layout.ts
  packages/vite-cli/src/core/questions/creator/theme.ts
Due: prettier --write ., eslint --fix

✨ feat(element-puls): 新增 element-plus 主题化 布局化
  .eslintignore
  packages/vite-cli/src/core/questions/creator/theme.ts
  packages/vite-cli/src/core/theme/element-plus/layout/BasicLayout/index.vue
  packages/vite-cli/src/core/theme/element-plus/layout/BlankLayout/index.vue
  packages/vite-cli/src/core/theme/element-plus/layout/components/global-content/index.vue
  packages/vite-cli/src/core/theme/element-plus/layout/components/global-footer/index.vue
  packages/vite-cli/src/core/theme/element-plus/layout/components/global-header/cpns/header-company.vue
  packages/vite-cli/src/core/theme/element-plus/layout/components/global-header/cpns/header-menu.vue
  packages/vite-cli/src/core/theme/element-plus/layout/components/global-header/index.vue
  packages/vite-cli/src/core/theme/element-plus/layout/components/global-sider/index.vue
  packages/vite-cli/src/core/theme/element-plus/layout/components/global-tab/cpns/tab-burger.vue
  packages/vite-cli/src/core/theme/element-plus/layout/components/global-tab/index.vue
  packages/vite-cli/src/core/theme/element-plus/layout/components/theme-setting/drawer-button/index.vue
  packages/vite-cli/src/core/theme/element-plus/layout/components/theme-setting/drawer-content/global-config/index.vue
  packages/vite-cli/src/core/theme/element-plus/layout/components/theme-setting/drawer-content/global-copy/index.vue
  packages/vite-cli/src/core/theme/element-plus/layout/components/theme-setting/drawer-content/global-layout/components/LayoutCheckBox.vue
  packages/vite-cli/src/core/theme/element-plus/layout/components/theme-setting/drawer-content/global-layout/index.vue
  packages/vite-cli/src/core/theme/element-plus/layout/components/theme-setting/drawer-content/global-theme/components/ColorCheckbox.vue
  packages/vite-cli/src/core/theme/element-plus/layout/components/theme-setting/drawer-content/global-theme/index.vue
  packages/vite-cli/src/core/theme/element-plus/layout/components/theme-setting/drawer-content/index.vue
  packages/vite-cli/src/core/theme/element-plus/layout/components/theme-setting/index.vue
  packages/vite-cli/src/core/theme/element-plus/layout/components/theme-setting/theme-color/element-plus.ts
  packages/vite-cli/src/core/theme/element-plus/layout/components/theme-setting/theme-color/element.scss
  packages/vite-cli/src/core/theme/element-plus/settings/companyConfig/index.ts
  packages/vite-cli/src/core/theme/element-plus/settings/companyConfig/theme.ts
  packages/vite-cli/src/core/theme/element-plus/settings/companyConfig/tianfeng.ts
  packages/vite-cli/src/core/theme/element-plus/settings/companyConfig/zhaoshang.ts
  packages/vite-cli/src/core/theme/element-plus/settings/index.ts
  packages/vite-cli/src/core/theme/element-plus/settings/message/reset.ts
  packages/vite-cli/src/core/theme/element-plus/settings/theme.json
  packages/vite-cli/src/core/theme/element-plus/settings/theme.ts
  packages/vite-cli/src/core/theme/element-plus/theme/color.ts
  packages/vite-cli/src/core/theme/element-plus/theme/helpers.ts
  packages/vite-cli/src/core/theme/element-plus/theme/index.ts
Due: prettier --write ., eslint --fix

✨ feat(element-plus): add element-plus deps
  packages/vite-cli/package-lock.json
  packages/vite-cli/template/vue/package.ejs
Due: none

✨ feat(theme): ✨ feat(element-plus): add element-plus deps
  .eslintignore
  packages/vite-cli/package.json
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/theme/element-plus/layout/BasicLayout/index.vue
  packages/vite-cli/theme/element-plus/layout/BlankLayout/index.vue
  packages/vite-cli/theme/element-plus/layout/components/global-content/index.vue
  packages/vite-cli/theme/element-plus/layout/components/global-footer/index.vue
  packages/vite-cli/theme/element-plus/layout/components/global-header/cpns/header-company.vue
  packages/vite-cli/theme/element-plus/layout/components/global-header/cpns/header-menu.vue
  packages/vite-cli/theme/element-plus/layout/components/global-header/index.vue
  packages/vite-cli/theme/element-plus/layout/components/global-sider/index.vue
  packages/vite-cli/theme/element-plus/layout/components/global-tab/cpns/tab-burger.vue
  packages/vite-cli/theme/element-plus/layout/components/global-tab/index.vue
  packages/vite-cli/theme/element-plus/layout/components/theme-setting/drawer-button/index.vue
  packages/vite-cli/theme/element-plus/layout/components/theme-setting/drawer-content/global-config/index.vue
  packages/vite-cli/theme/element-plus/layout/components/theme-setting/drawer-content/global-copy/index.vue
  packages/vite-cli/theme/element-plus/layout/components/theme-setting/drawer-content/global-layout/components/LayoutCheckBox.vue
  packages/vite-cli/theme/element-plus/layout/components/theme-setting/drawer-content/global-layout/index.vue
  packages/vite-cli/theme/element-plus/layout/components/theme-setting/drawer-content/global-theme/components/ColorCheckbox.vue
  packages/vite-cli/theme/element-plus/layout/components/theme-setting/drawer-content/global-theme/index.vue
  packages/vite-cli/theme/element-plus/layout/components/theme-setting/drawer-content/index.vue
  packages/vite-cli/theme/element-plus/layout/components/theme-setting/index.vue
  packages/vite-cli/theme/element-plus/layout/components/theme-setting/theme-color/element-plus.ts
  packages/vite-cli/theme/element-plus/layout/components/theme-setting/theme-color/element.scss
  packages/vite-cli/theme/element-plus/settings/companyConfig/index.ts
  packages/vite-cli/theme/element-plus/settings/companyConfig/theme.ts
  packages/vite-cli/theme/element-plus/settings/companyConfig/tianfeng.ts
  packages/vite-cli/theme/element-plus/settings/companyConfig/zhaoshang.ts
  packages/vite-cli/theme/element-plus/settings/index.ts
  packages/vite-cli/theme/element-plus/settings/message/reset.ts
  packages/vite-cli/theme/element-plus/settings/theme.json
  packages/vite-cli/theme/element-plus/settings/theme.ts
  packages/vite-cli/theme/element-plus/theme/color.ts
  packages/vite-cli/theme/element-plus/theme/helpers.ts
  packages/vite-cli/theme/element-plus/theme/index.ts
  packages/vite-cli/tsconfig.json
Due: prettier --write ., eslint --fix

🌈 style(yaml): ✨ feat(theme): ✨ feat(element-plus): add element-plus deps
  packages/vite-cli/tsconfig.json
Due: none

✨ feat(yaml): ✨ feat(readme): update readme
  packages/vite-cli/package.json
  pnpm-lock.yaml
Due: none

⚡️ pref(optimize): update code
  packages/vite-cli/template/vue/build/vite/plugin.ejs
Due: none

♻️ refactor(prepare): prepare react template
  packages/vite-cli/src/core/questions/creator/frame.ts
  packages/vite-cli/template/vue/package.ejs
Due: prettier --write ., eslint --fix

⚡️ pref(pref): 移除 vite-create-app 生产依赖
  examples/package.json
  package.json
  playground/package.json
Due: none

🎨 fix(copy template): 修复 复制模板 出错bug
  packages/vite-cli/src/core/command/create/createProject/index.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

♻️ refactor(react): refactor 项目结构准备react
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/core/questions/creator/index.ts
  packages/vite-cli/src/core/questions/vue/components.ts
  packages/vite-cli/src/core/questions/vue/feature.ts
  packages/vite-cli/src/core/questions/vue/index.ts
  packages/vite-cli/src/core/questions/vue/plugins.ts
  packages/vite-cli/src/core/questions/vue/precss.ts
  packages/vite-cli/src/core/questions/vue/theme.ts
  packages/vite-cli/src/shared/frameQuestions.ts
  packages/vite-cli/src/shared/vueEjsMapConstant.ts
Due: prettier --write ., eslint --fix

✨ feat(files): ⚡️ pref(pref): 移除 vite-create-app 生产依赖
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/shared/frameQuestions.ts
  packages/vite-cli/src/shared/options.ts
  packages/vite-cli/src/shared/templateFile.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

✨ feat(yaml): ✨ feat(files): ⚡️ pref(pref): 移除 vite-create-app 生产依赖
  pnpm-lock.yaml
Due: none

feat(template): 添加react teamplage
  packages/vite-cli/src/core/questions/creator/index.ts
  packages/vite-cli/src/core/questions/react/index.ts
  packages/vite-cli/src/shared/frameQuestions.ts
  packages/vite-cli/src/utils/createTemplate.ts
  packages/vite-cli/template/react/.gitignore.ejs
  packages/vite-cli/template/react/README.md
  packages/vite-cli/template/react/package.json
  packages/vite-cli/template/react/public/favicon.ico
  packages/vite-cli/template/react/public/index.html
  packages/vite-cli/template/react/public/logo192.png
  packages/vite-cli/template/react/public/logo512.png
  packages/vite-cli/template/react/public/manifest.json
  packages/vite-cli/template/react/public/robots.txt
  packages/vite-cli/template/react/src/App.css
  packages/vite-cli/template/react/src/App.js
  packages/vite-cli/template/react/src/App.test.js
  packages/vite-cli/template/react/src/index.css
  packages/vite-cli/template/react/src/index.js
  packages/vite-cli/template/react/src/logo.svg
  packages/vite-cli/template/react/src/reportWebVitals.js
  packages/vite-cli/template/react/src/setupTests.js
Due: prettier --write ., eslint --fix, prettier --write

✨ feat(eslint): eslint react
  .eslintignore
  package.json
  packages/vite-cli/src/core/questions/creator/index.ts
  packages/vite-cli/template/react/.eslintrc.js
  packages/vite-cli/template/react/package.json
  packages/vite-cli/template/react/src/App.js
  packages/vite-cli/template/react/src/App.test.js
  packages/vite-cli/template/react/src/index.js
  packages/vite-cli/template/react/src/reportWebVitals.js
  packages/vite-cli/template/react/src/setupTests.js
  pnpm-lock.yaml
  scripts/snapshot.mjs
Due: prettier --write ., eslint --fix

✨ feat(esbuild): esbuild complate success!!
  .gitignore
  package.json
  packages/vite-cli/package-lock.json
  packages/vite-cli/package.json
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/core/command/version/index.ts
  packages/vite-cli/src/shared/constant.ts
  packages/vite-cli/src/shared/frameQuestions.ts
  pnpm-lock.yaml
  scripts/build.mjs
Due: prettier --write ., eslint --fix

🎨 fix(prettier): 修复 prettier 打包 没有 external
  package.json
  packages/vite-cli/src/utils/createTemplate.ts
  pnpm-lock.yaml
  scripts/build.mjs
Due: prettier --write ., eslint --fix

✨ feat(esbuild): minify packages size
  packages/vite-cli/package.json
  scripts/build.mjs
Due: none

🌈 style(pref): 优化代码逻辑
  packages/vite-cli/package-lock.json
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/core/command/create/createProject/install.ts
  packages/vite-cli/src/core/questions/creator/index.ts
  packages/vite-cli/src/core/questions/vue/index.ts
  packages/vite-cli/src/shared/frameQuestions.ts
  packages/vite-cli/src/utils/createTemplate.ts
Due: prettier --write ., eslint --fix

🌈 style(version): update v0.17.2 esbuild
  packages/vite-cli/package.json
  pnpm-lock.yaml
  scripts/build.mjs
Due: none

✨ feat(version): update cli version with v0.17.5
  packages/vite-cli/package.json
Due: none

🌈 style(code style): 代码结构优化
  packages/vite-cli/package.json
  packages/vite-cli/src/core/command/create/createProject/copyTemplate.ts
  packages/vite-cli/src/core/command/create/createProject/index.ts
  packages/vite-cli/src/core/command/create/createProject/initialLog.ts
  packages/vite-cli/src/core/command/create/createProject/install.ts
  packages/vite-cli/src/core/command/create/index.ts
  packages/vite-cli/src/core/command/version/index.ts
  packages/vite-cli/src/core/questions/creator/index.ts
  pnpm-lock.yaml
  scripts/build.mjs
Due: prettier --write ., eslint --fix

⚡️ pref(pref): 生产环境依赖下载问题
  packages/vite-cli/package.json
  packages/vite-cli/src/core/questions/creator/index.ts
  packages/vite-cli/src/core/questions/react/index.ts
  packages/vite-cli/src/core/questions/vue/index.ts
  packages/vite-cli/src/shared/constant.ts
  packages/vite-cli/src/utils/question.ts
  pnpm-lock.yaml
  scripts/build.mjs
Due: prettier --write ., eslint --fix

♻️ refactor(verison): 主题化完成
  pnpm-lock.yaml
Due: none

✨ feat(prompts): pref prompts result
  .gitignore
  packages/vite-cli/package-lock.json
  packages/vite-cli/src/core/questions/vue/index.ts
  packages/vite-cli/src/core/questions/vue/plugins.ts
  packages/vite-cli/src/shared/options.ts
  packages/vite-cli/src/utils/question.ts
  packages/vite-cli/template/vue/package.ejs
Due: prettier --write ., eslint --fix

Path conditions:
  prettier --write .: any of: *.{js,jsx,ts,tsx}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.md
