Repository ErKeLost/create-vite-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write .", "eslint  --fix", "git add"],
  "*.md": ["prettier --write"]
}

✨ feat(test prompts): ✨ feat(prompts): pref prompts result
  packages/vite-cli/src/core/questions/creator/index.ts
  packages/vite-cli/src/core/questions/vue/index.ts
  packages/vite-cli/src/core/questions/vue/plugins.ts
  packages/vite-cli/src/core/questions/vue/theme.ts
  packages/vite-cli/src/utils/question.ts
Due: prettier --write ., eslint --fix

📝 docs(docs): update docs examples
  docs/.vitepress/config.ts
  docs/guide/index.md
  package.json
  packages/vite-cli/package.json
  packages/vite-cli/template/vue/netlify.toml
  packages/vite-cli/template/vue/package.ejs
  packages/vite-cli/template/vue/src/main.ejs
Due: prettier --write ., eslint --fix, prettier --write

🌈 style(docs): depoly style file
  netlify.toml
Due: none

🎨 fix(theme): update 主题化
  packages/vite-cli/src/core/questions/vue/index.ts
  packages/vite-cli/src/core/questions/vue/plugins.ts
Due: prettier --write ., eslint --fix

🌈 style(update version): v0.17.8
  packages/vite-cli/package-lock.json
  packages/vite-cli/package.json
Due: none

✨ feat(element-plus 主体化): 测试完成准备进一步优化代码逻辑,准备naive-ui主题化配置
  packages/vite-cli/src/core/command/create/createProject/index.ts
Due: prettier --write ., eslint --fix

🌈 style(refactor): pref 代码结构
  packages/vite-cli/src/core/questions/vue/theme.ts
  packages/vite-cli/src/shared/templateFile.ts
  packages/vite-cli/template/vue/package.ejs
  packages/vite-cli/template/vue/src/plugins/customComponents.ejs
  packages/vite-cli/template/vue/src/plugins/customComponents.ts
Due: prettier --write ., eslint --fix

✨ feat(naive-ui): 新增naive-ui主题化开发中
  packages/vite-cli/template/vue/src/components/TheWelcome.vue
  packages/vite-cli/template/vue/src/styles/base.css
  packages/vite-cli/theme/naive-ui/layout/components/theme-setting/drawer-button/index.vue
  packages/vite-cli/theme/naive-ui/layout/components/theme-setting/drawer-content/global-theme/index.vue
  packages/vite-cli/theme/naive-ui/layout/components/theme-setting/drawer-content/index.vue
  packages/vite-cli/theme/naive-ui/layout/components/theme-setting/theme-color/element-plus.ts
  packages/vite-cli/theme/naive-ui/layout/components/theme-setting/theme-color/element.scss
Due: prettier --write ., eslint --fix

✨ feat(naive): 测试主题化成功
  packages/vite-cli/package.json
  packages/vite-cli/template/vue/package.ejs
  packages/vite-cli/template/vue/src/utils/common/color.ts
  packages/vite-cli/template/vue/src/utils/common/index.ts
  packages/vite-cli/theme/naive-ui/App.vue
  packages/vite-cli/theme/naive-ui/store/modules/theme/helpers.ts
  packages/vite-cli/theme/naive-ui/store/modules/theme/index.ts
Due: prettier --write ., eslint --fix

🎨 fix(naive-ui 修改app文件error 问题): ✨ feat(naive): 测试主题化成功
  packages/vite-cli/src/core/command/create/createProject/copyTemplate.ts
  packages/vite-cli/src/core/command/create/createProject/install.ts
  packages/vite-cli/theme/element-plus/App.vue
Due: prettier --write ., eslint --fix

📝 docs(cli): depoly error
  docs/.vitepress/config.ts
  package.json
  packages/vite-cli/theme/element-plus/App.vue
Due: prettier --write ., eslint --fix

✨ feat(scripts): add template scriptes
  packages/vite-cli/template/vue/package.ejs
Due: none

✨ feat: ✨ feat(scripts): add template scriptes
  package.json
Due: none

✨ feat(docs): update docs
  docs/.vitepress/config.ts
Due: prettier --write ., eslint --fix

📝 docs(docs): update demo
  docs/.vitepress/config.ts
Due: prettier --write ., eslint --fix

🎨 fix(template): resolve naive-ui template error
  packages/vite-cli/src/core/questions/creator/projectName.ts
  packages/vite-cli/theme/naive-ui/App.vue
Due: prettier --write ., eslint --fix

✨ feat(less): 测试less prepare theme color with ant-design
  packages/vite-cli/template/vue/package.ejs
Due: none

✨ feat(pref): 优化代码逻辑
  packages/vite-cli/src/core/command/create/createProject/copyTemplate.ts
  packages/vite-cli/src/core/command/create/createProject/initialLog.ts
  packages/vite-cli/src/core/command/create/createProject/install.ts
  packages/vite-cli/src/core/questions/creator/frame.ts
  packages/vite-cli/src/core/questions/creator/index.ts
  packages/vite-cli/src/core/questions/vue/precss.ts
Due: prettier --write ., eslint --fix

📝 docs(readme): update readme
  README.md
  packages/vite-cli/package.json
Due: prettier --write

✨ feat(tempalte): update template with ant-design
  packages/vite-cli/template/vue/build/vite/plugin.ejs
  packages/vite-cli/template/vue/src/main.ejs
  packages/vite-cli/theme/ant-design-vue/layout/components/theme-setting/drawer-content/global-theme/index.vue
Due: none

📝 docs(antdesign): update antdesign demo
  docs/.vitepress/config.ts
Due: prettier --write ., eslint --fix

✨ feat(ant-design): test ant-design
  packages/vite-cli/template/vue/build/vite/plugin.ejs
  packages/vite-cli/template/vue/src/main.ejs
Due: none

🎨 fix(ant-design): resolve
  packages/vite-cli/template/vue/build/vite/plugin.ejs
Due: none

✨ feat(yaml): update yaml
  packages/vite-cli/theme/ant-design/layout/components/theme-setting/drawer-content/global-theme/index.vue
Due: none

📝 docs(docs): update docs
  README.md
Due: prettier --write

📝 docs(docs): update vite-cli
  docs/guide/index.md
Due: prettier --write

📝 docs(docs): update docs
  README.md
  docs/guide/index.md
Due: prettier --write

🎨 fix(tsc watch 和 tsc-alias): error
  .eslintignore
  packages/vite-cli/package.json
  pnpm-lock.yaml
Due: none

📝 docs(docs): update readme
  README.md
Due: prettier --write

🎨 fix(fix): error with build
  docs/package.json
  package.json
  packages/vite-cli/package.json
  packages/vite-cli/src/core/command/create/createProject/initialLog.ts
  packages/vite-cli/src/core/command/create/createProject/install.ts
  packages/vite-cli/src/core/questions/creator/index.ts
  packages/vite-cli/src/core/questions/vue/index.ts
  packages/vite-cli/src/utils/question.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

📝 docs(readme): update readme
  README.md
  packages/vite-cli/package.json
  packages/vite-cli/src/core/questions/creator/device.ts
  packages/vite-cli/src/core/questions/creator/frame.ts
  packages/vite-cli/src/core/questions/creator/packageManager.ts
  packages/vite-cli/src/core/questions/vue/components.ts
  packages/vite-cli/src/core/questions/vue/plugins.ts
  packages/vite-cli/src/core/questions/vue/theme.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix, prettier --write

♻️ refactor(reade): update readme
  README.md
Due: prettier --write

📝 docs(readme): update readme
  README.md
Due: prettier --write

🌈 style(readme): 📝 docs(readme): update readme
  README.md
Due: prettier --write

🎨 fix(router): vue template router error
  packages/vite-cli/template/vue/src/components/Welcome.ejs
  packages/vite-cli/theme/element-plus/App.vue
Due: none

✨ feat(error): not build
  packages/vite-cli/template/vue/src/components/Welcome.ejs
  packages/vite-cli/theme/ant-design/layout/components/theme-setting/drawer-button/index.vue
  packages/vite-cli/theme/ant-design/layout/components/theme-setting/drawer-content/global-theme/index.vue
  packages/vite-cli/theme/element-plus/App.vue
Due: none
